# Revisión de datos de los archivos csv de Open Contracting Partnership. Data Set del 2018.

Usando el buscador de OpenContracting se buscaron datos sobre Chile (buscador: https://data.open-contracting.org/es/search/). Se decidió descargarlos archivos de los años 2018 y 2021, para tener una muestra de datos que contenga información sobre licitaciones en un rango de tiempo cercano a estas fechas.

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
%cd Chile
%cd 2018
%ls
%cd ..
%cd ..

c:\Users\camil\OneDrive\Documentos\GitHub\Proyecto-IMT-2200-1-Grupo-14\Datos y trabajo con muestras\Chile
c:\Users\camil\OneDrive\Documentos\GitHub\Proyecto-IMT-2200-1-Grupo-14\Datos y trabajo con muestras\Chile\2018
 El volumen de la unidad C es OS
 El n�mero de serie del volumen es: 240D-CD63

 Directorio de c:\Users\camil\OneDrive\Documentos\GitHub\Proyecto-IMT-2200-1-Grupo-14\Datos y trabajo con muestras\Chile\2018

18-11-2024  15:43    <DIR>          .
18-11-2024  15:05    <DIR>          ..
18-11-2024  15:43        64.571.337 awards.csv
18-11-2024  15:29       137.878.898 awards_documents.csv
18-11-2024  15:29       172.974.592 awards_items.csv
18-11-2024  15:26        30.901.082 awards_suppliers.csv
18-11-2024  15:29       165.819.300 main.csv
18-11-2024  15:31       370.417.597 parties.csv
18-11-2024  15:30       243.504.970 parties_additionalIdentifiers.csv
18-11-2024  15:30       287.507.728 tender_items.csv
18-11-2024  15:27       103.927.462 tender_tenderers.csv
               9 archivos  1.577.502.966 bytes
               2 dirs  257.866.555.392 bytes libres
c:\Users\camil\OneDrive\Documentos\GitHub\Proyecto-IMT-2200-1-Grupo-14\Datos y trabajo con muestras\Chile
c:\Users\camil\OneDrive\Documentos\GitHub\Proyecto-IMT-2200-1-Grupo-14\Datos y trabajo con muestras

In [3]:
from os import path
import pandas as pd

lista_doc = ["main.csv","awards.csv", "awards_items.csv", "awards_suppliers.csv"]
contador = 0
for documento in lista_doc:
    print(documento)
    camino = path.join("Chile","2018",documento)
    if contador == 0:
        df_main = pd.read_csv(camino, delimiter=",")
        
    elif contador == 1:
        df_e = pd.read_csv(camino, delimiter=",")
        lista_columnas = list(df_e.columns.values)
        
        if "description" in lista_columnas :
            df_e.rename(columns={'description': f'description_{documento}'}, inplace=True)
            
        df_e.rename(columns={'id': f'id_{documento}', "_link": f"_link_{documento}"}, inplace=True)
        df_main = df_main.merge(df_e, left_on="_link", right_on="_link_main", how="left")
        
    else:
        df_e = pd.read_csv(camino, delimiter=",")
        lista_columnas =  list(df_e.columns.values)
        if "description" in lista_columnas:
            df_e.rename(columns={'id': f'id_{documento}', "_link": f"_link_{documento}"}, inplace=True)
            
        df_e.rename(columns={'id': f'id_{documento}'}, inplace=True)
        df_main = df_main.merge(df_e, left_on="_link_awards.csv", right_on="_link_awards", how="left")
    contador += 1
    
df_main.info()

main.csv
awards.csv
awards_items.csv
awards_suppliers.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2749607 entries, 0 to 2749606
Data columns (total 58 columns):
 #   Column                               Dtype
---  ------                               -----
 0   _link_x                              object
 1   id                                   object
 2   tag                                  object
 3   date_x                               object
 4   ocid                                 object
 5   language                             object
 6   initiationType                       object
 7   buyer_id                             object
 8   buyer_name                           object
 9   tender_id                            object
 10  tender_procurementMethodDetails      object
 11  tender_title                         object
 12  tender_status                        object
 13  tender_procurementMethod             object
 14  tender_hasEnquiries                  bool
 15  tender_description                   object
 16  tender_awardPeriod_endDate           object
 17  tender_awardPeriod_startDate         object
 18  tender_awardPeriod_durationInDays    float64
 19  tender_tenderPeriod_endDate          object
 20  tender_tenderPeriod_startDate        object
 21  tender_tenderPeriod_durationInDays   float64
 22  tender_enquiryPeriod_endDate         object
 23  tender_enquiryPeriod_startDate       object
 24  tender_enquiryPeriod_durationInDays  float64
 25  tender_procuringEntity_id            object
 26  tender_procuringEntity_name          object
 27  tender_value_amount                  float64
 28  tender_value_currency                object
 29  tender_value_unitOfAccount           object
 30  _link_awards.csv                     object
 31  _link_main_x                         object
 32  id_awards.csv                        float64
 33  date_y                               object
 34  description_awards.csv               object
 35  title                                object
 36  status                               object
 37  value_amount                         float64
 38  value_currency                       object
 39  value_unitOfAccount                  object
 40  _link_awards_items.csv               object
 41  _link_awards_x                       object
 42  _link_main_y                         object
 43  id_awards_items.csv                  float64
 44  description                          object
 45  quantity                             float64
 46  unit_name                            object
 47  unit_value_amount                    float64
 48  unit_value_currency                  object
 49  classification_id                    float64
 50  classification_uri                   object
 51  classification_scheme                object
 52  unit_value_unitOfAccount             object
 53  _link_y                              object
 54  _link_awards_y                       object
 55  _link_main                           object
 56  id_awards_suppliers.csv              object
 57  name                                 object
dtypes: bool(1), float64(10), object(47)
memory usage: 1.2+ GB

Se cargan los documentos main, awards, award_items y award_suppliers, a un DataFrame, se limpiaran los datos haciendo drop de columnas irrelevantes y/o repetidas.

In [4]:
df_2018 = df_main

In [5]:
df_2018.columns

Index(['_link_x', 'id', 'tag', 'date_x', 'ocid', 'language', 'initiationType',
       'buyer_id', 'buyer_name', 'tender_id',
       'tender_procurementMethodDetails', 'tender_title', 'tender_status',
       'tender_procurementMethod', 'tender_hasEnquiries', 'tender_description',
       'tender_awardPeriod_endDate', 'tender_awardPeriod_startDate',
       'tender_awardPeriod_durationInDays', 'tender_tenderPeriod_endDate',
       'tender_tenderPeriod_startDate', 'tender_tenderPeriod_durationInDays',
       'tender_enquiryPeriod_endDate', 'tender_enquiryPeriod_startDate',
       'tender_enquiryPeriod_durationInDays', 'tender_procuringEntity_id',
       'tender_procuringEntity_name', 'tender_value_amount',
       'tender_value_currency', 'tender_value_unitOfAccount',
       '_link_awards.csv', '_link_main_x', 'id_awards.csv', 'date_y',
       'description_awards.csv', 'title', 'status', 'value_amount',
       'value_currency', 'value_unitOfAccount', '_link_awards_items.csv',
       '_link_awards_x', '_link_main_y', 'id_awards_items.csv', 'description',
       'quantity', 'unit_name', 'unit_value_amount', 'unit_value_currency',
       'classification_id', 'classification_uri', 'classification_scheme',
       'unit_value_unitOfAccount', '_link_y', '_link_awards_y', '_link_main',
       'id_awards_suppliers.csv', 'name'],
      dtype='object')

In [6]:
df_2018.drop(columns=["id","ocid","tender_procuringEntity_id", "_link_awards_items.csv","id_awards_items.csv", "tender_id", "buyer_id", "_link_awards_y", "_link_awards_x"], inplace=True)
df_2018.drop(columns=["classification_uri", "_link_awards.csv", "id_awards.csv", "id_awards_suppliers.csv", "unit_value_unitOfAccount", "value_unitOfAccount", "language" ], inplace=True)
df_2018.columns

Index(['_link_x', 'tag', 'date_x', 'initiationType', 'buyer_name',
       'tender_procurementMethodDetails', 'tender_title', 'tender_status',
       'tender_procurementMethod', 'tender_hasEnquiries', 'tender_description',
       'tender_awardPeriod_endDate', 'tender_awardPeriod_startDate',
       'tender_awardPeriod_durationInDays', 'tender_tenderPeriod_endDate',
       'tender_tenderPeriod_startDate', 'tender_tenderPeriod_durationInDays',
       'tender_enquiryPeriod_endDate', 'tender_enquiryPeriod_startDate',
       'tender_enquiryPeriod_durationInDays', 'tender_procuringEntity_name',
       'tender_value_amount', 'tender_value_currency',
       'tender_value_unitOfAccount', '_link_main_x', 'date_y',
       'description_awards.csv', 'title', 'status', 'value_amount',
       'value_currency', '_link_main_y', 'description', 'quantity',
       'unit_name', 'unit_value_amount', 'unit_value_currency',
       'classification_id', 'classification_scheme', '_link_y', '_link_main',
       'name'],
      dtype='object')

Se eliminan las columnas con datos que permiten la identificación dentro del sistema del que se originan, puesto que no son pertinentes para los analisis a realizarse.

In [7]:
df_2018[["_link_y", "_link_main_y", "_link_main_x", "_link_x"]]

,_link_y,_link_main_y,_link_main_x,_link_x
0,id-0.0.awards.0.suppliers.0,id-0.0,id-0.0,id-0.0
1,NaN,NaN,id-0.1,id-0.1
2,id-0.2.awards.0.suppliers.0,id-0.2,id-0.2,id-0.2
3,NaN,NaN,id-0.3,id-0.3
4,id-0.4.awards.0.suppliers.0,id-0.4,id-0.4,id-0.4
...,...,...,...,...
2749602,id-15.15080.awards.0.suppliers.1,id-15.15080,id-15.15080,id-15.15080
2749603,id-15.15080.awards.0.suppliers.2,id-15.15080,id-15.15080,id-15.15080
2749604,id-15.15080.awards.0.suppliers.3,id-15.15080,id-15.15080,id-15.15080
2749605,id-15.15080.awards.0.suppliers.4,id-15.15080,id-15.15080,id-15.15080
2749606,id-15.15080.awards.0.suppliers.5,id-15.15080,id-15.15080,id-15.15080

Se revisa el contenido de las columnas "_link_main", "_link_y", "_link_main_y", "_link_main_x", "_link_x y se observa que _link_main y las columnas derivadas de este nombre son identicas entre ellas y con la columna _link_x, se eliminaran todas excepto main, ademas la columna _link_y no es relevancia para el DataFrame, puesto que es identica a la columna _link_main.

In [8]:
df_2018.drop(columns=["_link_y", "_link_main_y", "_link_main_x", "_link_main", "tag","classification_id", "classification_scheme", "tender_title", "description", "tender_status", "initiationType", "tender_value_unitOfAccount", "description_awards.csv", "title", "tender_description"], inplace=True)
df_main.head()
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2749607 entries, 0 to 2749606
Data columns (total 27 columns):
 #   Column                               Dtype
---  ------                               -----
 0   _link_x                              object
 1   date_x                               object
 2   buyer_name                           object
 3   tender_procurementMethodDetails      object
 4   tender_procurementMethod             object
 5   tender_hasEnquiries                  bool
 6   tender_awardPeriod_endDate           object
 7   tender_awardPeriod_startDate         object
 8   tender_awardPeriod_durationInDays    float64
 9   tender_tenderPeriod_endDate          object
 10  tender_tenderPeriod_startDate        object
 11  tender_tenderPeriod_durationInDays   float64
 12  tender_enquiryPeriod_endDate         object
 13  tender_enquiryPeriod_startDate       object
 14  tender_enquiryPeriod_durationInDays  float64
 15  tender_procuringEntity_name          object
 16  tender_value_amount                  float64
 17  tender_value_currency                object
 18  date_y                               object
 19  status                               object
 20  value_amount                         float64
 21  value_currency                       object
 22  quantity                             float64
 23  unit_name                            object
 24  unit_value_amount                    float64
 25  unit_value_currency                  object
 26  name                                 object
dtypes: bool(1), float64(7), object(19)
memory usage: 548.0+ MB

In [9]:
df_2018.rename(columns={"_link_x":"link"}, inplace=True)

In [10]:
df_2018[["date_y", "date_x"]]

                       date_y                date_x
0        2017-12-23T13:23:24Z  2018-12-31T11:27:18Z
1                         NaN  2018-12-31T11:28:26Z
2        2018-02-02T11:16:54Z  2018-12-31T11:29:05Z
3        2017-12-26T18:19:33Z  2018-12-31T11:21:15Z
4        2017-12-21T18:17:23Z  2018-12-31T11:20:54Z
...                       ...                   ...
2749602  2016-02-19T16:06:59Z  2018-12-31T11:49:56Z
2749603  2016-02-19T16:06:59Z  2018-12-31T11:49:56Z
2749604  2016-02-19T16:06:59Z  2018-12-31T11:49:56Z
2749605  2016-02-19T16:06:59Z  2018-12-31T11:49:56Z
2749606  2016-02-19T16:06:59Z  2018-12-31T11:49:56Z

[2749607 rows x 2 columns]

Se comparan _date_y y _date_x y se observa que son distintas por lo que se mantienen, pero se cambia el nombre.

In [11]:
df_2018.rename(columns={"name": "Award_supplier_name", 'date_y': 'date_award', "date_x": 'date_main'}, inplace= True)

Se revisarán que las filas no posean solo un dato, si sucede, se eliminarán. (Se ignorarán las filas que evidentemente poseen más de un dato).

In [12]:
df_iguales = pd.DataFrame(df_2018["tender_value_amount"] == df_2018["value_amount"])
df_iguales.head()

       0
0  False
1  False
2  False
3  False
4   True

In [13]:
df_iguales.rename(columns={0: "tender_value_amount == value_amount"}, inplace=True)

In [14]:
df_iguales["tender_value_amount == unit_value_amount"] = df_2018["tender_value_amount"] == df_2018["unit_value_amount"]
df_iguales["value_amount == unit_value_amount"] = df_2018["value_amount"] == df_2018["unit_value_amount"]

df_iguales["tender_value_currency == value_currency"] = df_2018["tender_value_currency"] == df_2018["value_currency"]
df_iguales["tender_value_currency == unit_value_currency"] = df_2018["tender_value_currency"] == df_2018["unit_value_currency"]
df_iguales["unit_value_currency == value_currency"] = df_2018["unit_value_currency"] == df_2018["value_currency"]
df_iguales["buyer == procuring_entity"] = df_2018["buyer_name"] == df_2018["tender_procuringEntity_name"]

In [15]:
for columna in df_iguales.columns:
    print(columna, df_iguales[columna].unique())

tender_value_amount == value_amount [False  True]
tender_value_amount == unit_value_amount [False  True]
value_amount == unit_value_amount [ True False]
tender_value_currency == value_currency [False  True]
tender_value_currency == unit_value_currency [False  True]
unit_value_currency == value_currency [ True False]
buyer == procuring_entity [ True]

In [16]:
df_2018.drop(columns=["buyer_name"], inplace=True)

Se observa que solo las columnas buyer y procuring_entity son iguales entre si, por lo que se eliminará procuring_entity.

In [17]:
duplicates = df_2018.duplicated(keep=False)
dups = df_2018[duplicates]
dups.head(10)

,link,date_main,tender_procurementMethodDetails,tender_procurementMethod,tender_hasEnquiries,tender_awardPeriod_endDate,tender_awardPeriod_startDate,tender_awardPeriod_durationInDays,tender_tenderPeriod_endDate,tender_tenderPeriod_startDate,...,tender_value_currency,date_award,status,value_amount,value_currency,quantity,unit_name,unit_value_amount,unit_value_currency,Award_supplier_name
277,id-0.52,2018-12-31T11:25:48Z,Licitación Pública Menor a 100 UTM (L1),open,False,2017-12-12T20:01:00Z,2017-12-11T20:01:00Z,1.0,2017-12-11T20:00:00Z,2017-12-05T18:29:33Z,...,NaN,2017-12-28T16:51:08Z,active,59900.0,CLP,200.0,Unidad,15.0,CLP,imprenta zaimor y cía. ltda | imprenta zaimor ...
278,id-0.52,2018-12-31T11:25:48Z,Licitación Pública Menor a 100 UTM (L1),open,False,2017-12-12T20:01:00Z,2017-12-11T20:01:00Z,1.0,2017-12-11T20:00:00Z,2017-12-05T18:29:33Z,...,NaN,2017-12-28T16:51:08Z,active,59900.0,CLP,200.0,Unidad,15.0,CLP,imprenta zaimor y cía. ltda | imprenta zaimor ...
279,id-0.52,2018-12-31T11:25:48Z,Licitación Pública Menor a 100 UTM (L1),open,False,2017-12-12T20:01:00Z,2017-12-11T20:01:00Z,1.0,2017-12-11T20:00:00Z,2017-12-05T18:29:33Z,...,NaN,2017-12-28T16:51:08Z,active,59900.0,CLP,200.0,Unidad,15.0,CLP,imprenta zaimor y cía. ltda | imprenta zaimor ...
382,id-0.84,2018-12-31T11:24:04Z,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-12T15:48:00Z,2017-12-19T13:51:00Z,1.0,2017-12-18T15:50:00Z,2017-12-11T13:40:38Z,...,NaN,2017-12-29T16:36:41Z,active,1664234.0,CLP,100.0,kilogramo,1075.0,CLP,Dipagro SpA | Dipagro SpA
383,id-0.84,2018-12-31T11:24:04Z,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-12T15:48:00Z,2017-12-19T13:51:00Z,1.0,2017-12-18T15:50:00Z,2017-12-11T13:40:38Z,...,NaN,2017-12-29T16:36:41Z,active,1664234.0,CLP,100.0,kilogramo,1075.0,CLP,Dipagro SpA | Dipagro SpA
384,id-0.84,2018-12-31T11:24:04Z,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-12T15:48:00Z,2017-12-19T13:51:00Z,1.0,2017-12-18T15:50:00Z,2017-12-11T13:40:38Z,...,NaN,2017-12-29T16:36:41Z,active,1664234.0,CLP,100.0,kilogramo,1075.0,CLP,Dipagro SpA | Dipagro SpA
402,id-0.86,2018-12-31T11:29:41Z,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-10T14:03:00Z,2017-12-28T14:03:00Z,1.0,2017-12-28T14:02:00Z,2017-12-22T12:30:22Z,...,NaN,2017-12-29T09:56:00Z,active,2116450.0,CLP,4.0,Unidad,25000.0,CLP,TERUMO CHILE LTDA | TERUMO CHILE LTDA
403,id-0.86,2018-12-31T11:29:41Z,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-10T14:03:00Z,2017-12-28T14:03:00Z,1.0,2017-12-28T14:02:00Z,2017-12-22T12:30:22Z,...,NaN,2017-12-29T09:56:00Z,active,2116450.0,CLP,4.0,Unidad,25000.0,CLP,Cencomex S.A. | Cencomex S.A.
404,id-0.86,2018-12-31T11:29:41Z,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-10T14:03:00Z,2017-12-28T14:03:00Z,1.0,2017-12-28T14:02:00Z,2017-12-22T12:30:22Z,...,NaN,2017-12-29T09:56:00Z,active,2116450.0,CLP,4.0,Unidad,25000.0,CLP,CHILEMEDICAL INTERVASCULAR SPA | CHILEMEDICAL ...
405,id-0.86,2018-12-31T11:29:41Z,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-10T14:03:00Z,2017-12-28T14:03:00Z,1.0,2017-12-28T14:02:00Z,2017-12-22T12:30:22Z,...,NaN,2017-12-29T09:56:00Z,active,2116450.0,CLP,4.0,Unidad,25000.0,CLP,TERUMO CHILE LTDA | TERUMO CHILE LTDA

Se tiene en consideración que dentro de un mismo proceso de licitación pueden existir diferentes entidades que ofrecen cubrir las necesidades planteadas al publicar la licitación, por lo que se mantendran los duplicados.

Se cambiarán algunas columnas a category.

In [18]:
for columna in df_2018.columns:
    print("\n")
    print(columna)
    print("\n")
    print(df_2018[columna].unique())
    print("\n")
    print("########################################################################################")

link


['id-0.0' 'id-0.1' 'id-0.2' ... 'id-15.15078' 'id-15.15079' 'id-15.15080']


########################################################################################


date_main


['2018-12-31T11:27:18Z' '2018-12-31T11:28:26Z' '2018-12-31T11:29:05Z' ...
 '2018-12-31T12:56:33Z' '2018-12-31T11:54:35Z' '2018-12-31T12:19:49Z']


########################################################################################


tender_procurementMethodDetails


['Licitación Pública Menor a 100 UTM (L1)'
 'Licitación Pública Entre 100 y 1000 UTM (LE)'
 'Licitación Pública Mayor 1000 UTM (LP)'
 'Licitación Pública Mayor a 5000 (LR)'
 'Licitación Pública entre a 2000 y 5000 UTM (LQ)'
 'Licitación Privada Mayor a 5000 (I2)'
 'Licitación Privada Menor a 100 UTM.'
 'Licitación Privada Mayor a 1000 UTM'
 'Licitación Privada entre 100 y 1000 UTM.'
 'Licitación Privada entre a 2000 y 5000 UTM (H2)'
 'Licitación Pública Servicios personales especializados (LS)']


########################################################################################


tender_procurementMethod


['open' 'selective']


########################################################################################


tender_hasEnquiries


[False  True]


########################################################################################


tender_awardPeriod_endDate


['2017-12-15T18:05:00Z' '2018-01-25T11:35:00Z' '2018-02-02T19:38:00Z' ...
 '2016-02-25T14:47:00Z' '2016-03-03T20:37:00Z' '2016-02-23T18:32:00Z']


########################################################################################


tender_awardPeriod_startDate


['2017-12-13T09:03:00Z' '2017-12-26T15:31:00Z' '2018-01-02T17:00:00Z' ...
 '2016-02-22T20:37:00Z' '2016-02-15T18:18:00Z' '2016-02-25T19:13:00Z']


########################################################################################


tender_awardPeriod_durationInDays


[ 1. nan  2.  3.  4.]


########################################################################################


tender_tenderPeriod_endDate


['2017-12-13T09:02:00Z' '2017-12-26T15:30:00Z' 'a' ...
 '2016-02-22T20:36:00Z' '2016-02-15T18:17:00Z' '2016-02-25T19:12:00Z']


########################################################################################


tender_tenderPeriod_startDate


['2017-12-07T16:17:35Z' '2017-12-18T17:58:24Z' '2017-12-19T13:02:43Z' ...
 '2016-02-26T13:48:32Z' '2016-02-15T12:53:23Z' '2016-02-12T16:30:15Z']


########################################################################################


tender_tenderPeriod_durationInDays


[ 6.00000000e+00  8.00000000e+00  1.40000000e+01  7.00000000e+00
  1.00000000e+01  2.40000000e+01  2.00000000e+01  1.10000000e+01
  2.30000000e+01  2.50000000e+01  1.50000000e+01  3.20000000e+01
  7.20000000e+02  1.50000000e+02  3.00000000e+01  2.20000000e+01
  3.60000000e+01  1.30000000e+01  9.00000000e+00  2.10000000e+01
  9.00000000e+01  1.60000000e+01  3.70000000e+01  1.20000000e+01
  4.90000000e+01  3.65000000e+02  3.10000000e+01  4.50000000e+02
  4.60000000e+01  1.70000000e+01  1.80000000e+02  5.00000000e+01
  3.30000000e+01  2.70000000e+01  1.20000000e+02  6.00000000e+01
  3.00000000e+00  1.80000000e+01  4.50000000e+01  2.90000000e+01
  1.90000000e+01  3.40000000e+01  1.26000000e+02  2.70000000e+02
  4.00000000e+01  3.30000000e+02  5.40000000e+02  3.90000000e+01
  2.80000000e+01  5.00000000e+00  8.50000000e+01  1.10000000e+02
  3.60000000e+02  1.85000000e+02  1.12000000e+02  6.30000000e+01
  2.60000000e+01  8.00000000e+01  4.30000000e+01  3.50000000e+01
  4.40000000e+01  1.15000000e+02  5.60000000e+01  2.40000000e+02
  1.16758400e+06  1.08000000e+03  2.86000000e+02  5.70000000e+01
  2.20000000e+02  6.00000000e+02  1.00000000e+02  5.04000000e+02
  7.90000000e+01  7.00000000e+01  3.00000000e+02  3.80000000e+01
  2.24000000e+02  7.10000000e+01  3.36000000e+02  9.10000000e+01
  4.40000000e+02  7.60000000e+01  4.80000000e+01  2.50000000e+02
  1.70000000e+02  4.10000000e+01  3.20000000e+02  4.78000000e+02
  4.20000000e+01  8.40000000e+01  2.00000000e+00  6.50000000e+01
  8.00000000e+02  3.64000000e+02  7.50000000e+01  2.56000000e+02
  5.10000000e+02  8.10000000e+02  1.68000000e+02  1.40000000e+02
  2.10000000e+02  1.44000000e+03  1.56000000e+02  1.96000000e+02
  2.00000000e+02  5.40000000e+01  4.00000000e+00  3.75000000e+02
  7.80000000e+01  5.50000000e+01  4.90000000e+02  3.22000000e+02
  5.10000000e+01  4.80000000e+02  2.80000000e+02  6.20000000e+01
  2.82000000e+02  1.32000000e+02  1.05000000e+03  7.35000000e+02
  9.50000000e+01  1.82000000e+02  1.19000000e+02  1.05000000e+02
  1.00000000e+00  9.80000000e+01  1.65000000e+02  4.55000000e+02
  5.90000000e+01  2.08658800e+06  2.60000000e+02  1.60000000e+02
  4.20000000e+02  4.60000000e+02  5.90000000e+02  2.41000000e+02
  5.80000000e+02  1.54000000e+02  6.90000000e+02  2.35000000e+02
  5.70000000e+02  1.47000000e+03  1.30000000e+02  6.60000000e+01
  4.70000000e+01  5.50000000e+02  3.90000000e+02  6.80000000e+01
  7.30000000e+02  4.75000000e+02  8.30000000e+01  8.70000000e+01
  4.85000000e+02  3.05000000e+02  6.30000000e+02  7.40000000e+01
  1.25000000e+02  5.48000000e+02  1.55000000e+02  6.10000000e+01
  8.90000000e+01  6.40000000e+01  1.35000000e+02  1.03583000e+05
  3.57000000e+02  1.84000000e+02  1.41000000e+03  4.95000000e+02
  3.85000000e+02  7.50000000e+02  9.90000000e+01  1.71820900e+06
  3.08000000e+02  1.09500000e+03  7.80000000e+02  6.70000000e+01
  2.30000000e+02  1.73000000e+02  5.20000000e+02  6.90000000e+01
  4.10000000e+02  1.95000000e+02  2.85000000e+02  7.70000000e+02
  1.22000000e+02  8.80000000e+01  4.25000000e+02  7.70000000e+01
  8.40000000e+02  4.00000000e+02  5.30000000e+01  4.15000000e+02
  4.92000000e+02  6.22000000e+02  1.19500000e+03  1.37000000e+02
  5.00000000e+02  1.90000000e+02  5.60000000e+02  1.47000000e+02
  9.18650000e+04  2.07000000e+02  2.48000000e+02  1.97000000e+02
  2.45000000e+02  1.08000000e+02  1.86000000e+02  3.80000000e+02
  9.83552000e+05  1.69000000e+02  1.06000000e+02  1.04000000e+02
  2.58000000e+02  2.38000000e+02  2.65000000e+02  8.70000000e+02
  1.46000000e+03  1.95000000e+03  1.20000000e+03  2.26000000e+02
  5.85000000e+02  5.20000000e+01  1.14000000e+03  1.48000000e+02
  8.60000000e+01  8.10000000e+01  1.45000000e+02  1.29675000e+05
  2.90000000e+02  2.94000000e+02  3.72000000e+02  1.28000000e+02
  9.70000000e+01  1.53000000e+02  5.93000000e+02  6.60000000e+02
  2.12000000e+02  1.63000000e+02  5.80000000e+01  4.48000000e+02
  5.98000000e+02  9.60000000e+01  1.52000000e+02  9.30000000e+01
  5.15000000e+02  1.34000000e+02  4.01000000e+02  5.47000000e+02
  1.01000000e+02 -1.00000000e+00  1.11961000e+05  3.63000000e+02
  1.02000000e+02  3.50000000e+02  1.09000000e+02             nan
  2.43000000e+02  2.52000000e+02  1.98000000e+02  7.95000000e+02
  3.15000000e+02  3.43000000e+02  1.26000000e+03  2.01000000e+02
  1.18000000e+02  3.10000000e+02  5.45000000e+02  7.30000000e+01
  9.32954000e+05  7.63000000e+02  1.07000000e+02  6.04000000e+02
  2.14000000e+02  3.25000000e+02  4.35000000e+02  9.00000000e+02
  2.36000000e+02  9.40000000e+01  1.75000000e+02  1.94000000e+02
  2.55121320e+07  1.83000000e+02  1.34400000e+03  2.02000000e+02
  1.44000000e+02  2.25000000e+02  3.35000000e+02  7.20000000e+01
  2.15000000e+02  1.57000000e+02  9.55107100e+06  2.53000000e+02
  1.50000000e+03  3.84000000e+02  8.38000000e+02  1.05271000e+05
  8.20000000e+01  3.70000000e+02  1.00000000e+03  1.27000000e+02
  2.37000000e+02  3.02000000e+02  5.17000000e+02  5.46000000e+02
  1.21000000e+02  2.17000000e+02  6.95000000e+02  4.26000000e+02
  1.01000000e+03  6.50000000e+02  2.74000000e+02  2.78000000e+02
  2.03000000e+02  4.62000000e+02  1.03000000e+02  1.77000000e+02
  2.06000000e+02  2.66000000e+02  1.35000000e+03  1.92000000e+02
  8.20000000e+02  7.86000000e+02  1.16000000e+02  1.08030000e+06
  1.17000000e+02  2.95000000e+02  1.11000000e+02  1.62000000e+02
  1.88419370e+07  9.90000000e+02  6.70000000e+02  2.16000000e+02
  7.02000000e+02  3.95000000e+02  9.73000000e+02  3.92000000e+02
  2.89000000e+02  1.43000000e+02  1.04800000e+03  5.65000000e+02
  1.79000000e+02  2.06122833e+08  5.36000000e+02  4.70000000e+02
  2.63000000e+02  3.40000000e+02  6.16000000e+02  1.74000000e+02
  2.33000000e+02  5.26000000e+02  2.28000000e+02  1.76000000e+02
  2.67000000e+02  6.98000000e+02  8.50000000e+02  9.60000000e+02
  9.18630000e+04  3.39000000e+02  1.62000000e+03  7.00000000e+02
  1.29675000e+06  3.01000000e+02  1.61000000e+02  1.14000000e+02
  9.83551000e+05  1.29000000e+02  2.72740000e+04  1.23000000e+03
  9.20000000e+01  3.34000000e+02  1.13000000e+02  1.11110000e+04
  2.13000000e+02  2.34000000e+02  4.30000000e+02  4.43000000e+02
  1.25466700e+06  2.23000000e+02  3.12000000e+02  9.30000000e+02
  1.42000000e+02]


########################################################################################


tender_enquiryPeriod_endDate


['2017-12-10T20:04:00Z' '2017-12-20T14:30:00Z' '2017-12-28T17:00:00Z' ...
 '2016-02-12T20:17:00Z' '2016-02-22T01:12:00Z' '2016-02-19T20:31:00Z']


########################################################################################


tender_enquiryPeriod_startDate


['2017-12-07T20:04:00Z' '2017-12-18T19:01:00Z' '2017-12-20T09:00:00Z' ...
 '2016-02-24T16:05:00Z' '2016-02-26T14:15:00Z' '2016-02-15T16:27:00Z']


########################################################################################


tender_enquiryPeriod_durationInDays


[  3.   2.   8.   1.   4.   6.  13.   7.  12.   5.  11.  42.  14.  19.
  23.  10.  25.  nan   9.  15.  17.  18.  34.  16.  24.  31.  21.  35.
  20.  28.  27.  22.  40.  30.  52.  36.  48.  51.  29. 220.  32.  38.
  78.  75.  33.  41.  59.  69.  46.  47.  57.  39.  50.  61.  86.  44.
  26.  43.  60. 148. 133.  58.  66.  73. 164.  68.  79.  49.  53.  45.
 125.  65. 114.  83.  54.  72.  64. 136.  99. 141.  82.  37. 138.  63.
 101.  90.  77. 189.  92. 146. 100.]


########################################################################################


tender_procuringEntity_name


['Ilustre Municipalidad de Quintero | UNIDAD NORMAL'
 'Municipalidad de Los Angeles | MUNICIPALIDAD DE LOS ANGELES - EDUCACION'
 'ILUSTRE MUNICIPALIDAD DE LA GRANJA | Adquisicion Municipal' ...
 'Ilustre Municipalidad de Caldera | Adquisiciones'
 'Carabineros de Chile | Prefectura del Maipo'
 'Ilustre Municipalidad de El Quisco | Departamento de Adquisiciones']


########################################################################################


tender_value_amount


[      nan   300000.  1452000. ... 40448000.  6915832. 12606000.]


########################################################################################


tender_value_currency


[nan 'CLP' 'CLF' 'USD' 'EUR']


########################################################################################


date_award


['2017-12-23T13:23:24Z' nan '2018-02-02T11:16:54Z' ...
 '2016-03-21T15:44:13Z' '2016-05-30T19:57:32Z' '2016-02-19T16:06:59Z']


########################################################################################


status


['active' 'unsuccessful' nan 'cancelled' 'pending']


########################################################################################


value_amount


[ 690000.      nan  870000. ... 1902475.  135070. 1103810.]


########################################################################################


value_currency


['CLP' nan 'CLF' 'USD' 'EUR']


########################################################################################


quantity


[1.000000e+00          nan 4.000000e+00 ... 1.297500e+00 7.066000e+04
 1.000011e+00]


########################################################################################


unit_name


['Unidad' nan 'Kit' 'Lámina' 'Caja' 'Frasco' 'Global' 'kilogramo'
 'Comprimido' 'Mililitro' 'Ampolla' 'Frasco Ampolla' 'Metro Lineal'
 'Litro' 'Año' 'Unidad no definida' 'Mes' 'Metro Cúbico' 'Saco' 'Botella'
 'Bolsa' 'Tira' 'Cápsula' 'Bidón' 'Pack' 'Hora/Hombre' 'Hora' 'Tineta'
 'Par' 'Rollo' 'Tambor' 'Supositorio' 'Tubo' 'Sobre' 'Galón' 'Día'
 'Paquete' 'Juego' 'Cilindro' 'Lata' 'Pieza' 'Metro Cuadrado' 'Plancha'
 'Pomo' 'Gramo' 'Sachet' 'Tarro' 'Barra' 'Balón' 'Resma' 'Pliego' 'Placa'
 'Balde' 'Centímetros Cúbicos' 'Docena' 'Ovulo' 'Pote' 'Carrete'
 'Unidad Internacional' 'Pan' 'Rack' 'Matraz' 'Talonario' 'Block'
 'Bandeja' 'Centímetro' 'Dosis' 'Milímetro' 'Cajetilla' 'Cartucho'
 'Tonelada' 'Cuñete' 'Atado' 'Hoja' 'Gragea' 'Disco' 'Mes/Hombre' 'Ovillo'
 'Cientos' 'Milígramo' 'Carga' 'Cono' 'Semana' 'Miles' 'Pallets' 'Pie'
 'Comprimido Vaginal' 'Pulgada' 'Cajón' 'Día/Hombre' 'Cartón' 'Microgramo'
 'Onza' 'Cubeta' 'Bloque' 'Papelillo' 'Libra']


########################################################################################


unit_value_amount


[ 690000.      nan  870000. ...  342017. 2332783.  135070.]


########################################################################################


unit_value_currency


['CLP' nan 'CLF' 'USD' 'EUR']


########################################################################################


Award_supplier_name


['JOSÉ MIGUEL  | JOSÉ MIGUEL ' nan
 'Todovidrios | Vidrieria las condes 7002' ...
 'Victor Cristian | Victor Cristian'
 'Ever Barra Bascuñan | Tecnoservicios'
 'Construcciones Patricio Vega | Construcciones Patricio Vega']


########################################################################################

Se utilizan la pagina <<https://api.mercadopublico.cl/modules/Licitacion.aspx>> para crear el diccionario.

In [19]:

tipos_licitaciones ={'Licitación Pública Menor a 100 UTM (L1)': "L1",
       'Licitación Pública Entre 100 y 1000 UTM (LE)': "LE",
       'Licitación Pública Mayor 1000 UTM (LP)': "LP",
       'Licitación Pública entre a 2000 y 5000 UTM (LQ)':"LQ",
       'Licitación Pública Mayor a 5000 (LR)' :"LR",
       'Licitación Privada entre a 2000 y 5000 UTM (H2)':"H2",
       'Licitación Pública Servicios personales especializados (LS)':"LS",
       "Licitación Privada por Licitación Pública anterior sin oferentes (A1)" : "A1",
       "Licitación Privada por Remanente de Contrato anterior (B1)": "B1",
       "Licitación Privada por Convenios con Personas Jurídicas Extranjeras fuera del Territorio Nacional (E1)": "E1",
       "Licitación Privada por Servicios de Naturaleza Confidencial (F1)": "F1",
       "Licitación Privada por otras causales, excluidas de la ley de Compras (J1)": "J1",
       "Licitación Privada entre 100 y 1000 UTM" :"CO", "Licitación Privada Mayor a 1000 UTM": "B2",
       "Trato Directo por Producto de Licitación Privada anterior sin oferentes o desierta": "A2",
       "Trato Directo por Proveedor Único (D1)": "D1","Licitación Privada Menor a 100 UTM" : "E2", "Trato Directo (Cotización) (C2)" : "C2",
       "Compra Directa (Orden de compra) (C1)" : "C1", "Trato Directo (Cotización) (F2)" :"F2", "Compra Directa (Orden de compra) (F3)" : "F3",
       "Directo (Cotización) (G2)" : "G2", "Compra Directa (Orden de compra) (G1)" : "G1",
       "Orden de Compra menor a 3 UTM (R1)" : "R1", "Orden de Compra sin Resolución (CA)" : "CA", 
       "Orden de Compra proveniente de adquisición sin emisión automática de OC (SE)" : "SE"}


df_2018["tender_procurementMethodDetails"] = df_2018["tender_procurementMethodDetails"].map(tipos_licitaciones)
df_2018["tender_procurementMethodDetails"] = df_2018["tender_procurementMethodDetails"].astype("category")

In [20]:
df_2018["unit_value_currency"].isna()

0          False
1           True
2          False
3           True
4          False
           ...
2749602    False
2749603    False
2749604    False
2749605    False
2749606    False
Name: unit_value_currency, Length: 2749607, dtype: bool

Se cambiarán las columnas que contienen información de fechas a objetos de tipo DateTime.

In [21]:
df_2018.columns

Index(['link', 'date_main', 'tender_procurementMethodDetails',
       'tender_procurementMethod', 'tender_hasEnquiries',
       'tender_awardPeriod_endDate', 'tender_awardPeriod_startDate',
       'tender_awardPeriod_durationInDays', 'tender_tenderPeriod_endDate',
       'tender_tenderPeriod_startDate', 'tender_tenderPeriod_durationInDays',
       'tender_enquiryPeriod_endDate', 'tender_enquiryPeriod_startDate',
       'tender_enquiryPeriod_durationInDays', 'tender_procuringEntity_name',
       'tender_value_amount', 'tender_value_currency', 'date_award', 'status',
       'value_amount', 'value_currency', 'quantity', 'unit_name',
       'unit_value_amount', 'unit_value_currency', 'Award_supplier_name'],
      dtype='object')

In [22]:
df_respaldo_ = df_2018

In [23]:
df_2018["date_main"] = pd.to_datetime(df_2018['date_main'], format='%Y-%m-%dT%H:%M:%SZ')

In [24]:
df_2018["date_award"] = pd.to_datetime(df_2018['date_award'], format='%Y-%m-%dT%H:%M:%SZ')

In [25]:
df_2018["tender_enquiryPeriod_startDate"] = pd.to_datetime(df_2018['tender_enquiryPeriod_startDate'], format='%Y-%m-%dT%H:%M:%SZ')

In [26]:
df_2018["tender_enquiryPeriod_endDate"] = pd.to_datetime(df_2018['tender_enquiryPeriod_endDate'], format='%Y-%m-%dT%H:%M:%SZ')

In [27]:
df_2018['tender_tenderPeriod_startDate'] = pd.to_datetime(df_2018['tender_tenderPeriod_startDate'], format='%Y-%m-%dT%H:%M:%SZ')

Al parecer hay un error en la fila 1, eliminemosla.

In [28]:
df_2018 = df_2018.drop(df_2018[df_2018["tender_tenderPeriod_endDate"] == "a"].index)

In [29]:
df_2018["tender_tenderPeriod_endDate"]

0          2017-12-13T09:02:00Z
1          2017-12-26T15:30:00Z
3          2017-12-21T10:02:00Z
4          2017-12-11T16:00:00Z
5          2017-12-28T12:00:00Z
                   ...
2749602    2016-02-18T18:00:00Z
2749603    2016-02-18T18:00:00Z
2749604    2016-02-18T18:00:00Z
2749605    2016-02-18T18:00:00Z
2749606    2016-02-18T18:00:00Z
Name: tender_tenderPeriod_endDate, Length: 2749606, dtype: object

In [30]:
df_2018["tender_tenderPeriod_endDate"] = pd.to_datetime(df_2018['tender_tenderPeriod_endDate'], format='%Y-%m-%dT%H:%M:%SZ')

In [31]:
df_2018['tender_awardPeriod_startDate'] = pd.to_datetime(df_2018['tender_awardPeriod_startDate'], format='%Y-%m-%dT%H:%M:%SZ')

Hay un error en el formato de una fila con contenido <5017-05-05T17:00:00Z>, se eliminará.

In [32]:
df_2018[df_2018["tender_awardPeriod_endDate"] == "5017-05-05T17:00:00Z"].index

Index([2127843], dtype='int64')

In [33]:
df_2018.drop(df_2018[df_2018["tender_awardPeriod_endDate"] == "5017-05-05T17:00:00Z"].index, axis=0, inplace=True)

In [34]:
df_2018['tender_awardPeriod_endDate'] = pd.to_datetime(df_2018['tender_awardPeriod_endDate'], format='%Y-%m-%dT%H:%M:%SZ')

In [35]:
df_2018['tender_enquiryPeriod_durationInDays'] = df_2018['tender_enquiryPeriod_endDate'] - df_2018['tender_enquiryPeriod_startDate']

In [36]:
df_2018['tender_awardPeriod_durationInDays'] = df_2018['tender_awardPeriod_endDate'] - df_2018['tender_awardPeriod_startDate']

In [37]:
df_2018['tender_tenderPeriod_durationInDays'] = df_2018['tender_tenderPeriod_endDate'] - df_2018['tender_tenderPeriod_startDate']

## Filtro según fecha

Aqui realizaremos un filtro de las licitaciones en base a cuando se iniciaron y cuando terminaron respecto a lo relacionado al 2018. En este caso seleccionaremos las licitaciones cuyo periodo de envio de aplicaciones para determinar la adjudicación comenzó despúes que el 01/09/2017 y la finalización del proceso de adjudicación antes del 01/01/2019.

In [38]:
fecha_filtro = '2017-09-01'
df_filtrado = df_2018.loc[df_2018['tender_tenderPeriod_startDate'] >= fecha_filtro]

In [39]:
fecha_filtro = '2019-01-01'
df_filtrado = df_filtrado.loc[df_filtrado['tender_awardPeriod_endDate'] < fecha_filtro]

In [40]:
df_filtrado.head()

,link,date_main,tender_procurementMethodDetails,tender_procurementMethod,tender_hasEnquiries,tender_awardPeriod_endDate,tender_awardPeriod_startDate,tender_awardPeriod_durationInDays,tender_tenderPeriod_endDate,tender_tenderPeriod_startDate,...,tender_value_currency,date_award,status,value_amount,value_currency,quantity,unit_name,unit_value_amount,unit_value_currency,Award_supplier_name
0,id-0.0,2018-12-31 11:27:18,L1,open,False,2017-12-15 18:05:00,2017-12-13 09:03:00,2 days 09:02:00,2017-12-13 09:02:00,2017-12-07 16:17:35,...,NaN,2017-12-23 13:23:24,active,690000.0,CLP,1.0,Unidad,690000.0,CLP,JOSÉ MIGUEL | JOSÉ MIGUEL
1,id-0.1,2018-12-31 11:28:26,L1,open,False,2018-01-25 11:35:00,2017-12-26 15:31:00,29 days 20:04:00,2017-12-26 15:30:00,2017-12-18 17:58:24,...,CLP,NaT,unsuccessful,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,id-0.3,2018-12-31 11:21:15,L1,open,False,2017-12-26 15:53:00,2017-12-21 10:03:00,5 days 05:50:00,2017-12-21 10:02:00,2017-12-15 12:23:25,...,CLP,2017-12-26 18:19:33,unsuccessful,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,id-0.4,2018-12-31 11:20:54,LE,open,True,2017-12-14 16:55:00,2017-12-11 16:30:00,3 days 00:25:00,2017-12-11 16:00:00,2017-12-05 17:11:36,...,CLP,2017-12-21 18:17:23,active,6000000.0,CLP,1.0,Unidad,6000000.0,CLP,Jorge Alejandro | Jorge Alejandro
5,id-0.5,2018-12-31 11:29:33,L1,open,True,2017-12-29 16:00:00,2017-12-28 12:02:00,1 days 03:58:00,2017-12-28 12:00:00,2017-12-21 16:27:16,...,NaN,2018-01-16 10:56:54,active,347043.0,CLP,4.0,Unidad,4995.0,CLP,INSTITUTO ORTOPEDICO Y DE REHABILITACION IOR L...

In [41]:
df_filtrado.reset_index(drop=True, inplace=True)

## Limpieza de datos nulos

Se revisan filas con valores nulos.

In [42]:
Datos_with_NaN = df_filtrado.loc[:, df_filtrado.isna().any()]

In [43]:
print(f"La cantidad de datos NaN es de: {len(Datos_with_NaN[Datos_with_NaN.isna().any(axis=1)])} en todo el dataframe de {len(df_filtrado)}")

La cantidad de datos NaN es de: 132280 en todo el dataframe de 181938

In [44]:
df_filtrado[['tender_value_amount','tender_value_currency', 'value_amount', 'value_currency', 'quantity','unit_name', 'unit_value_amount', 'unit_value_currency']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181938 entries, 0 to 181937
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   tender_value_amount    54211 non-null   float64
 1   tender_value_currency  54209 non-null   object
 2   value_amount           172503 non-null  float64
 3   value_currency         172483 non-null  object
 4   quantity               172503 non-null  float64
 5   unit_name              172503 non-null  object
 6   unit_value_amount      172503 non-null  float64
 7   unit_value_currency    172483 non-null  object
dtypes: float64(4), object(4)
memory usage: 11.1+ MB

In [45]:
nan_tender_v = df_filtrado[df_filtrado['value_currency'].isna()]
nan_tender_v[["value_currency", "value_amount","unit_value_currency", "unit_value_amount","tender_value_amount", "tender_value_currency", "status", "tender_hasEnquiries"]]

,value_currency,value_amount,unit_value_currency,unit_value_amount,tender_value_amount,tender_value_currency,status,tender_hasEnquiries
1,NaN,NaN,NaN,NaN,300000.0,CLP,unsuccessful,False
2,NaN,NaN,NaN,NaN,900000.0,CLP,unsuccessful,False
191,NaN,NaN,NaN,NaN,1114000.0,CLP,unsuccessful,False
192,NaN,NaN,NaN,NaN,NaN,NaN,unsuccessful,True
201,NaN,NaN,NaN,NaN,90398000.0,CLP,unsuccessful,False
...,...,...,...,...,...,...,...,...
181675,NaN,NaN,NaN,NaN,700000.0,CLP,unsuccessful,True
181676,NaN,NaN,NaN,NaN,NaN,NaN,unsuccessful,False
181703,NaN,NaN,NaN,NaN,NaN,NaN,unsuccessful,False
181771,NaN,NaN,NaN,NaN,NaN,NaN,unsuccessful,False
181772,NaN,NaN,NaN,NaN,NaN,NaN,unsuccessful,False

In [46]:
nan_tender_v["status"].unique()

array(['unsuccessful', nan, 'cancelled', 'pending', 'active'],
      dtype=object)

In [47]:
non_nan_t= df_filtrado.loc[df_filtrado.dropna(subset="value_currency").index]
non_nan_t[["value_currency", "value_amount","unit_value_currency", "unit_value_amount","tender_value_amount", "tender_value_currency", "status", "tender_hasEnquiries"]].head()

,value_currency,value_amount,unit_value_currency,unit_value_amount,tender_value_amount,tender_value_currency,status,tender_hasEnquiries
0,CLP,690000.0,CLP,690000.0,NaN,NaN,active,False
3,CLP,6000000.0,CLP,6000000.0,6000000.0,CLP,active,True
4,CLP,347043.0,CLP,4995.0,NaN,NaN,active,True
5,CLP,347043.0,CLP,4995.0,NaN,NaN,active,True
6,CLP,347043.0,CLP,4995.0,NaN,NaN,active,True

In [48]:
non_nan_t["status"].unique()

array(['active'], dtype=object)

Como se puede observar los casos con valores NaN en valores pertinentes al costo de la licitación se ven relacionados a que el status de la licitación <unsuccessful> por lo que se cambiara el valor NaN para estos casos por "Licitación no completada", para no tener problemas en eliminar otras filas.

In [ ]:
df_filtrado["value_currency"] = df_filtrado["value_currency"].replace(np.nan, "No aplica")
df_filtrado["unit_value_currency"] = df_filtrado["unit_value_currency"].replace(np.nan, "No aplica")
df_filtrado["unit_value_amount"] = df_filtrado["unit_value_amount"].replace(np.nan, "No aplica")
df_filtrado["value_amount"] = df_filtrado["value_amount"].replace(np.nan, "No aplica")
df_filtrado["tender_value_currency"] = df_filtrado["tender_value_currency"].replace(np.nan, "No aplica")
df_filtrado["tender_value_amount"] = df_filtrado["tender_value_amount"].replace(np.nan, "No aplica")
df_filtrado["Award_supplier_name"] = df_filtrado["Award_supplier_name"]

En base a esta información se vera según casos los valores NaN.

In [50]:
df_filtrado[["tender_tenderPeriod_durationInDays", "tender_awardPeriod_durationInDays", "tender_enquiryPeriod_durationInDays"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181938 entries, 0 to 181937
Data columns (total 3 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   tender_tenderPeriod_durationInDays   181938 non-null  timedelta64[ns]
 1   tender_awardPeriod_durationInDays    181938 non-null  timedelta64[ns]
 2   tender_enquiryPeriod_durationInDays  181938 non-null  timedelta64[ns]
dtypes: timedelta64[ns](3)
memory usage: 4.2 MB

In [51]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181938 entries, 0 to 181937
Data columns (total 26 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   link                                 181938 non-null  object
 1   date_main                            181938 non-null  datetime64[ns]
 2   tender_procurementMethodDetails      181439 non-null  category
 3   tender_procurementMethod             181938 non-null  object
 4   tender_hasEnquiries                  181938 non-null  bool
 5   tender_awardPeriod_endDate           181938 non-null  datetime64[ns]
 6   tender_awardPeriod_startDate         181938 non-null  datetime64[ns]
 7   tender_awardPeriod_durationInDays    181938 non-null  timedelta64[ns]
 8   tender_tenderPeriod_endDate          181938 non-null  datetime64[ns]
 9   tender_tenderPeriod_startDate        181938 non-null  datetime64[ns]
 10  tender_tenderPeriod_durationInDays   181938 non-null  timedelta64[ns]
 11  tender_enquiryPeriod_endDate         181938 non-null  datetime64[ns]
 12  tender_enquiryPeriod_startDate       181938 non-null  datetime64[ns]
 13  tender_enquiryPeriod_durationInDays  181938 non-null  timedelta64[ns]
 14  tender_procuringEntity_name          181938 non-null  object
 15  tender_value_amount                  181938 non-null  object
 16  tender_value_currency                181938 non-null  object
 17  date_award                           176988 non-null  datetime64[ns]
 18  status                               181223 non-null  object
 19  value_amount                         181938 non-null  object
 20  value_currency                       181938 non-null  object
 21  quantity                             172503 non-null  float64
 22  unit_name                            172503 non-null  object
 23  unit_value_amount                    181938 non-null  object
 24  unit_value_currency                  181938 non-null  object
 25  Award_supplier_name                  172503 non-null  object
dtypes: bool(1), category(1), datetime64[ns](8), float64(1), object(12), timedelta64[ns](3)
memory usage: 33.7+ MB

Teniendo en cuenta que ya resolvimos los problemas que pueden causar las licitaciones no completadas, podemos realizar un dropna.

In [52]:
df_filt_2018 = df_filtrado.dropna(subset=["status"])
df_filt_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181223 entries, 0 to 181937
Data columns (total 26 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   link                                 181223 non-null  object
 1   date_main                            181223 non-null  datetime64[ns]
 2   tender_procurementMethodDetails      180730 non-null  category
 3   tender_procurementMethod             181223 non-null  object
 4   tender_hasEnquiries                  181223 non-null  bool
 5   tender_awardPeriod_endDate           181223 non-null  datetime64[ns]
 6   tender_awardPeriod_startDate         181223 non-null  datetime64[ns]
 7   tender_awardPeriod_durationInDays    181223 non-null  timedelta64[ns]
 8   tender_tenderPeriod_endDate          181223 non-null  datetime64[ns]
 9   tender_tenderPeriod_startDate        181223 non-null  datetime64[ns]
 10  tender_tenderPeriod_durationInDays   181223 non-null  timedelta64[ns]
 11  tender_enquiryPeriod_endDate         181223 non-null  datetime64[ns]
 12  tender_enquiryPeriod_startDate       181223 non-null  datetime64[ns]
 13  tender_enquiryPeriod_durationInDays  181223 non-null  timedelta64[ns]
 14  tender_procuringEntity_name          181223 non-null  object
 15  tender_value_amount                  181223 non-null  object
 16  tender_value_currency                181223 non-null  object
 17  date_award                           176988 non-null  datetime64[ns]
 18  status                               181223 non-null  object
 19  value_amount                         181223 non-null  object
 20  value_currency                       181223 non-null  object
 21  quantity                             172503 non-null  float64
 22  unit_name                            172503 non-null  object
 23  unit_value_amount                    181223 non-null  object
 24  unit_value_currency                  181223 non-null  object
 25  Award_supplier_name                  172503 non-null  object
dtypes: bool(1), category(1), datetime64[ns](8), float64(1), object(12), timedelta64[ns](3)
memory usage: 34.9+ MB

In [54]:
df_filtrado.loc[df_filtrado["link"].isna().index].info()

<class 'pandas.core.frame.DataFrame'>
Index: 181938 entries, 0 to 181937
Data columns (total 26 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   link                                 181938 non-null  object
 1   date_main                            181938 non-null  datetime64[ns]
 2   tender_procurementMethodDetails      181439 non-null  category
 3   tender_procurementMethod             181938 non-null  object
 4   tender_hasEnquiries                  181938 non-null  bool
 5   tender_awardPeriod_endDate           181938 non-null  datetime64[ns]
 6   tender_awardPeriod_startDate         181938 non-null  datetime64[ns]
 7   tender_awardPeriod_durationInDays    181938 non-null  timedelta64[ns]
 8   tender_tenderPeriod_endDate          181938 non-null  datetime64[ns]
 9   tender_tenderPeriod_startDate        181938 non-null  datetime64[ns]
 10  tender_tenderPeriod_durationInDays   181938 non-null  timedelta64[ns]
 11  tender_enquiryPeriod_endDate         181938 non-null  datetime64[ns]
 12  tender_enquiryPeriod_startDate       181938 non-null  datetime64[ns]
 13  tender_enquiryPeriod_durationInDays  181938 non-null  timedelta64[ns]
 14  tender_procuringEntity_name          181938 non-null  object
 15  tender_value_amount                  181938 non-null  object
 16  tender_value_currency                181938 non-null  object
 17  date_award                           176988 non-null  datetime64[ns]
 18  status                               181223 non-null  object
 19  value_amount                         181938 non-null  object
 20  value_currency                       181938 non-null  object
 21  quantity                             172503 non-null  float64
 22  unit_name                            172503 non-null  object
 23  unit_value_amount                    181938 non-null  object
 24  unit_value_currency                  181938 non-null  object
 25  Award_supplier_name                  172503 non-null  object
dtypes: bool(1), category(1), datetime64[ns](8), float64(1), object(12), timedelta64[ns](3)
memory usage: 35.0+ MB

## Otros lectura y limpieza de otros DataFrames.

In [56]:
camino = path.join("Chile","2018", "parties.csv")
df_parties = pd.read_csv(camino, sep=",")
df_parties.head()

,_link,_link_main,id,name,roles,address_region,address_streetAddress,identifier_id,identifier_scheme,identifier_legalName,contactPoint_name,contactPoint_email,contactPoint_telephone,address_countryName,contactPoint_faxNumber
0,id-0.0.parties.0,id-0.0,CL-MP-836904,JOSÉ MIGUEL | JOSÉ MIGUEL,"tenderer,supplier",Región de Valparaíso,ESTRELLA DE CHILE 448,182792101,CL-RUT,JOSÉ MIGUEL REYES GACITÚA,JOSÉ MIGUEL REYES GACITÚA,jomelitoz@hotmail.com,56-32-2930110,NaN,NaN
1,id-0.0.parties.1,id-0.0,CL-MP-5464,Ilustre Municipalidad de Quintero | UNIDAD NORMAL,"procuringEntity,buyer",Región de Valparaíso,normandie #1916,69060700K,CL-RUT,I MUNICIPALIDAD DE QUINTERO,Eduardo Enrique Rios Rios,rios@muniquintero.cl,56-32-2379639,Chile,NaN
2,id-0.1.parties.0,id-0.1,CL-MP-3401,Municipalidad de Los Angeles | MUNICIPALIDAD D...,"procuringEntity,buyer",Región del Biobío,COLO COLO 484,691701018,CL-RUT,I MUNICIPALIDAD DE LOS ANGELES DEPTO DE,JASMIN LISBETH SANHUEZA CIFUENTES,jsanhueza@educacionlosangeles.cl,56-43-2570146,Chile,NaN
3,id-0.2.parties.0,id-0.2,CL-MP-200536,Todovidrios | Vidrieria las condes 7002,"tenderer,supplier",Región Metropolitana de Santiago,Avenida Francisco Bilbao 8010 local 3 torre 1,51259424,CL-RUT,JOSE MERCEDES RODRIGUEZ ECHEVERRIA,Jose Mercedes rodriguez echeverria,todovidrios7@gmail.com,56-02-22290586,Chile,NaN
4,id-0.2.parties.1,id-0.2,CL-MP-731625,FERRETERIA COMERCIAL L Y J LIMITADA | COMERCI...,tenderer,Región Metropolitana de Santiago,ARTURO PRAT N ° 213,762581167,CL-RUT,FERRETERIA COMERCIAL L&J LIMITADA,FERRETERIA COMERCIAL L Y J LTDA FERRETERIA LYJ...,contactolyj@gmail.com,56-22-9047419,Chile,NaN

In [57]:
df_parties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300059 entries, 0 to 1300058
Data columns (total 15 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   _link                   1300059 non-null  object
 1   _link_main              1300059 non-null  object
 2   id                      1300059 non-null  object
 3   name                    1300056 non-null  object
 4   roles                   1300059 non-null  object
 5   address_region          1284966 non-null  object
 6   address_streetAddress   1292579 non-null  object
 7   identifier_id           1299403 non-null  object
 8   identifier_scheme       1299430 non-null  object
 9   identifier_legalName    1299121 non-null  object
 10  contactPoint_name       1300059 non-null  object
 11  contactPoint_email      1299876 non-null  object
 12  contactPoint_telephone  1288642 non-null  object
 13  address_countryName     1087631 non-null  object
 14  contactPoint_faxNumber  369041 non-null   object
dtypes: object(15)
memory usage: 148.8+ MB

In [64]:
df_parties.columns

Index(['_link', '_link_main', 'id', 'name', 'roles', 'address_region',
       'address_streetAddress', 'identifier_id', 'identifier_scheme',
       'identifier_legalName', 'contactPoint_name', 'contactPoint_email',
       'contactPoint_telephone', 'address_countryName',
       'contactPoint_faxNumber'],
      dtype='object')

In [65]:
df_parties.drop(columns=['id', 'address_streetAddress', 'identifier_id', 'identifier_scheme','identifier_legalName', 'contactPoint_name', 'contactPoint_email','contactPoint_telephone', 'contactPoint_faxNumber'], inplace=True)

In [66]:
df_parties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300059 entries, 0 to 1300058
Data columns (total 6 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   _link                1300059 non-null  object
 1   _link_main           1300059 non-null  object
 2   name                 1300056 non-null  object
 3   roles                1300059 non-null  object
 4   address_region       1284966 non-null  object
 5   address_countryName  1087631 non-null  object
dtypes: object(6)
memory usage: 59.5+ MB

In [58]:
camino = path.join("Chile","2018", "parties_additionalIdentifiers.csv")
df_parties_add = pd.read_csv(camino, sep=",")
df_parties_add.head()

,_link,_link_parties,_link_main,id,uri,scheme,legalName
0,id-0.0.parties.0.additionalIdentifiers.0,id-0.0.parties.0,id-0.0,836904,https://apis.mercadopublico.cl/OCDS/data/prove...,CL-MP,JOSÉ MIGUEL REYES GACITÚA
1,id-0.0.parties.1.additionalIdentifiers.0,id-0.0.parties.1,id-0.0,5464,https://apis.mercadopublico.cl/OCDS/data/compr...,CL-MP,I MUNICIPALIDAD DE QUINTERO
2,id-0.1.parties.0.additionalIdentifiers.0,id-0.1.parties.0,id-0.1,3401,https://apis.mercadopublico.cl/OCDS/data/compr...,CL-MP,I MUNICIPALIDAD DE LOS ANGELES DEPTO DE
3,id-0.2.parties.0.additionalIdentifiers.0,id-0.2.parties.0,id-0.2,200536,https://apis.mercadopublico.cl/OCDS/data/prove...,CL-MP,JOSE MERCEDES RODRIGUEZ ECHEVERRIA
4,id-0.2.parties.1.additionalIdentifiers.0,id-0.2.parties.1,id-0.2,731625,https://apis.mercadopublico.cl/OCDS/data/prove...,CL-MP,FERRETERIA COMERCIAL L&J LIMITADA

No se realizará merge, puesto que no tiene información adicional que sea relevante.

In [59]:
camino = path.join("Chile","2018", "tender_items.csv")
df_tender_item = pd.read_csv(camino, sep=",")
df_tender_item.head()

,_link,_link_main,id,description,quantity,unit_name,classification_id,classification_uri,classification_scheme
0,id-0.0.tender.items.0,id-0.0,36425198,"Instrumentos musicales, juegos, juguetes, arte...",1.0,Unidad,60141012,https://apis.mercadopublico.cl/OCDS/data/produ...,UNSPSC
1,id-0.1.tender.items.0,id-0.1,36442486,"Artículos para estructuras, obras y construcci...",1.0,Unidad,30103205,https://apis.mercadopublico.cl/OCDS/data/produ...,UNSPSC
2,id-0.1.tender.items.1,id-0.1,36442487,"Artículos para estructuras, obras y construcci...",1.0,Unidad,30103205,https://apis.mercadopublico.cl/OCDS/data/produ...,UNSPSC
3,id-0.1.tender.items.2,id-0.1,36442488,"Artículos para estructuras, obras y construcci...",1.0,Unidad,30103205,https://apis.mercadopublico.cl/OCDS/data/produ...,UNSPSC
4,id-0.1.tender.items.3,id-0.1,36442489,"Artículos para estructuras, obras y construcci...",1.0,Unidad,30103205,https://apis.mercadopublico.cl/OCDS/data/produ...,UNSPSC

No se utilizara este dataframe en un merge, porque ya se tiene un dataframe más completo para obtenerla información que no se tiene en el df_filtrado

In [60]:
df_tender_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979055 entries, 0 to 979054
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   _link                  979055 non-null  object
 1   _link_main             979055 non-null  object
 2   id                     979055 non-null  int64
 3   description            979055 non-null  object
 4   quantity               979055 non-null  float64
 5   unit_name              979055 non-null  object
 6   classification_id      979055 non-null  int64
 7   classification_uri     979055 non-null  object
 8   classification_scheme  979055 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 67.2+ MB

In [61]:
camino = path.join("Chile","2018", "tender_tenderers.csv")
df_tender_tenderers = pd.read_csv(camino, sep=",")

In [62]:
df_tender_tenderers.head()

,_link,_link_main,id,name
0,id-0.0.tender.tenderers.0,id-0.0,CL-MP-836904,JOSÉ MIGUEL | JOSÉ MIGUEL
1,id-0.2.tender.tenderers.0,id-0.2,CL-MP-17336,Inmobiliaria y Servicios | Inmobiliaria y Serv...
2,id-0.2.tender.tenderers.1,id-0.2,CL-MP-200536,Todovidrios | Vidrieria las condes 7002
3,id-0.2.tender.tenderers.2,id-0.2,CL-MP-731625,FERRETERIA COMERCIAL L Y J LIMITADA | COMERCI...
4,id-0.2.tender.tenderers.3,id-0.2,CL-MP-971211,ROBERT FRANK | ROBERT FRANK

In [63]:
df_tender_tenderers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055231 entries, 0 to 1055230
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   _link       1055231 non-null  object
 1   _link_main  1055231 non-null  object
 2   id          1055231 non-null  object
 3   name        1055228 non-null  object
dtypes: object(4)
memory usage: 32.2+ MB

In [67]:
df_clasificaciones = pd.read_excel("unspcs-clasificador-de-bienes-y-servicios-de-naciones-unidas-en-espanol.xlsx", skiprows=5)
df_clasificaciones.head(10)

,Código segmento,Nombre Segmento,Código Familia,Nombre Familia,Código Clase,Nombre Clase,Código Producto,Nombre Producto
0,10,"Material Vivo Vegetal y Animal, Accesorios y S...",1010,Animales vivos,101015,Animales de granja,10101501,Gatos
1,10,"Material Vivo Vegetal y Animal, Accesorios y S...",1010,Animales vivos,101015,Animales de granja,10101502,Perros
2,10,"Material Vivo Vegetal y Animal, Accesorios y S...",1010,Animales vivos,101015,Animales de granja,10101504,Visón
3,10,"Material Vivo Vegetal y Animal, Accesorios y S...",1010,Animales vivos,101015,Animales de granja,10101505,Ratas
4,10,"Material Vivo Vegetal y Animal, Accesorios y S...",1010,Animales vivos,101015,Animales de granja,10101506,Caballos
5,10,"Material Vivo Vegetal y Animal, Accesorios y S...",1010,Animales vivos,101015,Animales de granja,10101507,Ovejas
6,10,"Material Vivo Vegetal y Animal, Accesorios y S...",1010,Animales vivos,101015,Animales de granja,10101508,Cabras
7,10,"Material Vivo Vegetal y Animal, Accesorios y S...",1010,Animales vivos,101015,Animales de granja,10101509,Asnos
8,10,"Material Vivo Vegetal y Animal, Accesorios y S...",1010,Animales vivos,101015,Animales de granja,10101510,Ratones
9,10,"Material Vivo Vegetal y Animal, Accesorios y S...",1010,Animales vivos,101015,Animales de granja,10101511,Cerdos

El dataframe df_clasificaciones corresponde a un conjunto de datos que posee el significado de cada objeto solicitados según la codificación UNSPSC, por lo que se hara merge con el df_main para saber que se esta comprando en cada licitación, se desecharán algunas de las columnas de df_clasificaciones para esto.

In [ ]:
df_clasificaciones.drop(columns=["Código segmento","Código Familia","Nombre Familia","Nombre Clase","Código Clase"], inplace=True)

In [ ]:
# df_main = df_main.merge(df_clasificaciones, left_on="classification_id", right_on="Código Producto")