# Revisión de datos de los archivos csv de Open Contracting Partnership. Data Set del 2018.

Usando el buscador de OpenContracting se buscaron datos sobre Chile (buscador: https://data.open-contracting.org/es/search/). Se decidió descargarlos archivos de los años 2018 y 2021, para tener una muestra de datos que contenga información sobre licitaciones en un rango de tiempo cercano a estas fechas.

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
%cd Chile
%cd 2018
%ls
%cd ..
%cd ..

c:\Users\camil\OneDrive\Documentos\GitHub\Proyecto-IMT-2200-1-Grupo-14\Datos y trabajo con muestras\Chile
c:\Users\camil\OneDrive\Documentos\GitHub\Proyecto-IMT-2200-1-Grupo-14\Datos y trabajo con muestras\Chile\2018
 El volumen de la unidad C es OS
 El n�mero de serie del volumen es: 240D-CD63

 Directorio de c:\Users\camil\OneDrive\Documentos\GitHub\Proyecto-IMT-2200-1-Grupo-14\Datos y trabajo con muestras\Chile\2018

18-11-2024  15:43    <DIR>          .
18-11-2024  15:05    <DIR>          ..
18-11-2024  15:43        64.571.337 awards.csv
18-11-2024  15:29       137.878.898 awards_documents.csv
18-11-2024  15:29       172.974.592 awards_items.csv
18-11-2024  15:26        30.901.082 awards_suppliers.csv
18-11-2024  15:29       165.819.300 main.csv
18-11-2024  15:31       370.417.597 parties.csv
18-11-2024  15:30       243.504.970 parties_additionalIdentifiers.csv
18-11-2024  15:30       287.507.728 tender_items.csv
18-11-2024  15:27       103.927.462 tender_tenderers.csv
               9 archivos  1.577.502.966 bytes
               2 dirs  258.300.416.000 bytes libres
c:\Users\camil\OneDrive\Documentos\GitHub\Proyecto-IMT-2200-1-Grupo-14\Datos y trabajo con muestras\Chile
c:\Users\camil\OneDrive\Documentos\GitHub\Proyecto-IMT-2200-1-Grupo-14\Datos y trabajo con muestras

In [3]:
from os import path
import pandas as pd

lista_doc = ["main.csv","awards.csv", "awards_items.csv", "awards_suppliers.csv"]
contador = 0
for documento in lista_doc:
    print(documento)
    camino = path.join("Chile","2018",documento)
    if contador == 0:
        df_main = pd.read_csv(camino, delimiter=",")
        
    elif contador == 1:
        df_e = pd.read_csv(camino, delimiter=",")
        lista_columnas = list(df_e.columns.values)
        
        if "description" in lista_columnas :
            df_e.rename(columns={'description': f'description_{documento}'}, inplace=True)
            
        df_e.rename(columns={'id': f'id_{documento}', "_link": f"_link_{documento}"}, inplace=True)
        df_main = df_main.merge(df_e, left_on="_link", right_on="_link_main")
        
    else:
        df_e = pd.read_csv(camino, delimiter=",")
        lista_columnas =  list(df_e.columns.values)
        if "description" in lista_columnas:
            df_e.rename(columns={'id': f'id_{documento}', "_link": f"_link_{documento}"}, inplace=True)
            
        df_e.rename(columns={'id': f'id_{documento}'}, inplace=True)
        df_main = df_main.merge(df_e, left_on="_link_awards.csv", right_on="_link_awards")
    contador += 1
    
df_main.info()

main.csv
awards.csv
awards_items.csv
awards_suppliers.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2682185 entries, 0 to 2682184
Data columns (total 58 columns):
 #   Column                               Dtype
---  ------                               -----
 0   _link_x                              object
 1   id                                   object
 2   tag                                  object
 3   date_x                               object
 4   ocid                                 object
 5   language                             object
 6   initiationType                       object
 7   buyer_id                             object
 8   buyer_name                           object
 9   tender_id                            object
 10  tender_procurementMethodDetails      object
 11  tender_title                         object
 12  tender_status                        object
 13  tender_procurementMethod             object
 14  tender_hasEnquiries                  bool
 15  tender_description                   object
 16  tender_awardPeriod_endDate           object
 17  tender_awardPeriod_startDate         object
 18  tender_awardPeriod_durationInDays    float64
 19  tender_tenderPeriod_endDate          object
 20  tender_tenderPeriod_startDate        object
 21  tender_tenderPeriod_durationInDays   float64
 22  tender_enquiryPeriod_endDate         object
 23  tender_enquiryPeriod_startDate       object
 24  tender_enquiryPeriod_durationInDays  float64
 25  tender_procuringEntity_id            object
 26  tender_procuringEntity_name          object
 27  tender_value_amount                  float64
 28  tender_value_currency                object
 29  tender_value_unitOfAccount           object
 30  _link_awards.csv                     object
 31  _link_main_x                         object
 32  id_awards.csv                        int64
 33  date_y                               object
 34  description_awards.csv               object
 35  title                                object
 36  status                               object
 37  value_amount                         float64
 38  value_currency                       object
 39  value_unitOfAccount                  object
 40  _link_awards_items.csv               object
 41  _link_awards_x                       object
 42  _link_main_y                         object
 43  id_awards_items.csv                  int64
 44  description                          object
 45  quantity                             float64
 46  unit_name                            object
 47  unit_value_amount                    float64
 48  unit_value_currency                  object
 49  classification_id                    int64
 50  classification_uri                   object
 51  classification_scheme                object
 52  unit_value_unitOfAccount             object
 53  _link_y                              object
 54  _link_awards_y                       object
 55  _link_main                           object
 56  id_awards_suppliers.csv              object
 57  name                                 object
dtypes: bool(1), float64(7), int64(3), object(47)
memory usage: 1.1+ GB

Se cargan los documentos main, awards, award_items y award_suppliers, a un DataFrame, se limpiaran los datos haciendo drop de columnas irrelevantes y/o repetidas.

In [4]:
df_2018 = df_main

In [5]:
df_2018.drop(columns=["id","ocid","tender_procuringEntity_id", "_link_awards_items.csv","id_awards_items.csv", "tender_id", "buyer_id", "_link_awards_x", "_link_awards_y"], inplace=True)
df_2018.drop(columns=["classification_uri", "_link_awards.csv", "id_awards.csv", "id_awards_suppliers.csv", "unit_value_unitOfAccount", "value_unitOfAccount", "language" ], inplace=True)
df_2018.columns

Index(['_link_x', 'tag', 'date_x', 'initiationType', 'buyer_name',
       'tender_procurementMethodDetails', 'tender_title', 'tender_status',
       'tender_procurementMethod', 'tender_hasEnquiries', 'tender_description',
       'tender_awardPeriod_endDate', 'tender_awardPeriod_startDate',
       'tender_awardPeriod_durationInDays', 'tender_tenderPeriod_endDate',
       'tender_tenderPeriod_startDate', 'tender_tenderPeriod_durationInDays',
       'tender_enquiryPeriod_endDate', 'tender_enquiryPeriod_startDate',
       'tender_enquiryPeriod_durationInDays', 'tender_procuringEntity_name',
       'tender_value_amount', 'tender_value_currency',
       'tender_value_unitOfAccount', '_link_main_x', 'date_y',
       'description_awards.csv', 'title', 'status', 'value_amount',
       'value_currency', '_link_main_y', 'description', 'quantity',
       'unit_name', 'unit_value_amount', 'unit_value_currency',
       'classification_id', 'classification_scheme', '_link_y', '_link_main',
       'name'],
      dtype='object')

Se eliminan las columnas con datos que permiten la identificación dentro del sistema del que se originan, puesto que no son pertinentes para los analisis a realizarse.

In [6]:
df_2018[["_link_y", "_link_main_y", "_link_main_x", "_link_x"]]

,_link_y,_link_main_y,_link_main_x,_link_x
0,id-0.0.awards.0.suppliers.0,id-0.0,id-0.0,id-0.0
1,id-0.2.awards.0.suppliers.0,id-0.2,id-0.2,id-0.2
2,id-0.4.awards.0.suppliers.0,id-0.4,id-0.4,id-0.4
3,id-0.5.awards.0.suppliers.0,id-0.5,id-0.5,id-0.5
4,id-0.5.awards.0.suppliers.1,id-0.5,id-0.5,id-0.5
...,...,...,...,...
2682180,id-15.15080.awards.0.suppliers.1,id-15.15080,id-15.15080,id-15.15080
2682181,id-15.15080.awards.0.suppliers.2,id-15.15080,id-15.15080,id-15.15080
2682182,id-15.15080.awards.0.suppliers.3,id-15.15080,id-15.15080,id-15.15080
2682183,id-15.15080.awards.0.suppliers.4,id-15.15080,id-15.15080,id-15.15080
2682184,id-15.15080.awards.0.suppliers.5,id-15.15080,id-15.15080,id-15.15080

Se revisa el contenido de las columnas "_link_main", "_link_y", "_link_main_y", "_link_main_x", "_link_x y se observa que _link_main y las columnas derivadas de este nombre son identicas entre ellas y con la columna _link_x, se eliminaran todas excepto main, ademas la columna _link_y no es relevancia para el DataFrame, puesto que es identica a la columna _link_main.

In [7]:
df_2018.drop(columns=["_link_y", "_link_main_y", "_link_main_x", "_link_x", "tag","classification_id", "classification_scheme", "tender_title", "description", "tender_status", "status", "initiationType", "tender_value_unitOfAccount", "description_awards.csv", "title", "tender_description"], inplace=True)
df_main.head()
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2682185 entries, 0 to 2682184
Data columns (total 26 columns):
 #   Column                               Dtype
---  ------                               -----
 0   date_x                               object
 1   buyer_name                           object
 2   tender_procurementMethodDetails      object
 3   tender_procurementMethod             object
 4   tender_hasEnquiries                  bool
 5   tender_awardPeriod_endDate           object
 6   tender_awardPeriod_startDate         object
 7   tender_awardPeriod_durationInDays    float64
 8   tender_tenderPeriod_endDate          object
 9   tender_tenderPeriod_startDate        object
 10  tender_tenderPeriod_durationInDays   float64
 11  tender_enquiryPeriod_endDate         object
 12  tender_enquiryPeriod_startDate       object
 13  tender_enquiryPeriod_durationInDays  float64
 14  tender_procuringEntity_name          object
 15  tender_value_amount                  float64
 16  tender_value_currency                object
 17  date_y                               object
 18  value_amount                         float64
 19  value_currency                       object
 20  quantity                             float64
 21  unit_name                            object
 22  unit_value_amount                    float64
 23  unit_value_currency                  object
 24  _link_main                           object
 25  name                                 object
dtypes: bool(1), float64(7), object(18)
memory usage: 514.1+ MB

In [8]:
df_2018[["date_y", "date_x"]]

                       date_y                date_x
0        2017-12-23T13:23:24Z  2018-12-31T11:27:18Z
1        2018-02-02T11:16:54Z  2018-12-31T11:29:05Z
2        2017-12-21T18:17:23Z  2018-12-31T11:20:54Z
3        2018-01-16T10:56:54Z  2018-12-31T11:29:33Z
4        2018-01-16T10:56:54Z  2018-12-31T11:29:33Z
...                       ...                   ...
2682180  2016-02-19T16:06:59Z  2018-12-31T11:49:56Z
2682181  2016-02-19T16:06:59Z  2018-12-31T11:49:56Z
2682182  2016-02-19T16:06:59Z  2018-12-31T11:49:56Z
2682183  2016-02-19T16:06:59Z  2018-12-31T11:49:56Z
2682184  2016-02-19T16:06:59Z  2018-12-31T11:49:56Z

[2682185 rows x 2 columns]

Se comparan _date_y y _date_x y se observa que son distintas por lo que se mantienen, pero se cambia el nombre.

In [9]:
df_2018.rename(columns={"name": "Award_supplier_name", 'date_y': 'date_award', "date_x": 'date_main'}, inplace= True)

Se revisarán que las filas no posean solo un dato, si sucede, se eliminarán. (Se ignorarán las filas que evidentemente poseen más de un dato).

In [10]:
for columna in df_2018.columns:
    print(columna, df_2018[columna].unique())

date_main ['2018-12-31T11:27:18Z' '2018-12-31T11:29:05Z' '2018-12-31T11:20:54Z' ...
 '2018-12-31T10:27:41Z' '2018-12-31T12:56:33Z' '2018-12-31T11:54:35Z']
buyer_name ['Ilustre Municipalidad de Quintero | UNIDAD NORMAL'
 'ILUSTRE MUNICIPALIDAD DE LA GRANJA | Adquisicion Municipal'
 'Municipalidad de Los Angeles | MUNICIPALIDAD DE LOS ANGELES - EDUCACION'
 ... 'Carabineros de Chile | Prefectura del Maipo'
 'ILUSTRE MUNICIPALIDAD  DE SAGRADA FAMILIA | DIRECCION DE SALUD COMUNAL'
 'Ilustre Municipalidad de El Quisco | Departamento de Adquisiciones']
tender_procurementMethodDetails ['Licitación Pública Menor a 100 UTM (L1)'
 'Licitación Pública Entre 100 y 1000 UTM (LE)'
 'Licitación Pública Mayor a 5000 (LR)'
 'Licitación Pública entre a 2000 y 5000 UTM (LQ)'
 'Licitación Pública Mayor 1000 UTM (LP)'
 'Licitación Privada Mayor a 5000 (I2)'
 'Licitación Privada entre a 2000 y 5000 UTM (H2)'
 'Licitación Privada entre 100 y 1000 UTM.'
 'Licitación Privada Menor a 100 UTM.'
 'Licitación Privada Mayor a 1000 UTM'
 'Licitación Pública Servicios personales especializados (LS)']
tender_procurementMethod ['open' 'selective']
tender_hasEnquiries [False  True]
tender_awardPeriod_endDate ['2017-12-15T18:05:00Z' '2018-02-02T19:38:00Z' '2017-12-14T16:55:00Z' ...
 '2016-03-03T20:37:00Z' '2016-02-23T18:32:00Z' '2016-02-29T17:49:00Z']
tender_awardPeriod_startDate ['2017-12-13T09:03:00Z' '2018-01-02T17:00:00Z' '2017-12-11T16:30:00Z' ...
 '2016-02-15T18:18:00Z' '2016-02-25T19:13:00Z' '2016-02-22T18:32:00Z']
tender_awardPeriod_durationInDays [ 1. nan  3.  2.  4.]
tender_tenderPeriod_endDate ['2017-12-13T09:02:00Z' 'a' '2017-12-11T16:00:00Z' ...
 '2016-02-15T18:17:00Z' '2016-02-25T19:12:00Z' '2016-02-22T18:31:00Z']
tender_tenderPeriod_startDate ['2017-12-07T16:17:35Z' '2017-12-19T13:02:43Z' '2017-12-05T17:11:36Z' ...
 '2016-02-26T13:48:32Z' '2016-02-15T12:53:23Z' '2016-02-12T16:30:15Z']
tender_tenderPeriod_durationInDays [6.00000000e+00 1.40000000e+01 7.00000000e+00 1.00000000e+01
 1.10000000e+01 1.50000000e+01 3.20000000e+01 2.00000000e+01
 7.20000000e+02 1.50000000e+02 3.00000000e+01 1.30000000e+01
 9.00000000e+00 8.00000000e+00 2.10000000e+01 9.00000000e+01
 2.30000000e+01 1.60000000e+01 2.40000000e+01 3.70000000e+01
 1.20000000e+01 3.65000000e+02 3.10000000e+01 4.50000000e+02
 2.20000000e+01 5.00000000e+01 1.20000000e+02 6.00000000e+01
 3.30000000e+01 3.00000000e+00 1.80000000e+01 4.50000000e+01
 2.90000000e+01 2.50000000e+01 4.00000000e+01 2.80000000e+01
 5.00000000e+00 8.50000000e+01 1.10000000e+02 1.85000000e+02
 1.12000000e+02 6.30000000e+01 1.90000000e+01 1.80000000e+02
 1.70000000e+01 3.60000000e+01 3.50000000e+01 3.40000000e+01
 1.15000000e+02 5.60000000e+01 2.40000000e+02 1.16758400e+06
 1.08000000e+03 2.86000000e+02 3.60000000e+02 5.70000000e+01
 2.20000000e+02 6.00000000e+02 1.00000000e+02 5.04000000e+02
 1.26000000e+02 2.70000000e+01 3.90000000e+01 2.60000000e+01
 4.90000000e+01 3.00000000e+02 3.80000000e+01 2.24000000e+02
 4.30000000e+01 7.10000000e+01 3.36000000e+02 3.30000000e+02
 8.00000000e+01 4.60000000e+01 9.10000000e+01 4.40000000e+02
 7.60000000e+01 4.80000000e+01 1.70000000e+02 3.20000000e+02
 4.78000000e+02 4.20000000e+01 8.40000000e+01 2.00000000e+00
 6.50000000e+01 8.00000000e+02 7.50000000e+01 2.70000000e+02
 1.68000000e+02 1.40000000e+02 2.10000000e+02 1.44000000e+03
 1.56000000e+02 1.96000000e+02 2.00000000e+02 5.40000000e+01
 4.00000000e+00 5.50000000e+01 2.80000000e+02 6.20000000e+01
 2.82000000e+02 1.32000000e+02 7.35000000e+02 9.50000000e+01
 1.82000000e+02 1.19000000e+02 1.00000000e+00 4.10000000e+01
 7.00000000e+01 1.65000000e+02 5.10000000e+01 2.08658800e+06
 1.60000000e+02 4.20000000e+02 5.90000000e+02 5.80000000e+02
 1.54000000e+02 6.90000000e+02 5.40000000e+02 1.47000000e+03
 1.30000000e+02 2.50000000e+02 6.60000000e+01 4.70000000e+01
 5.50000000e+02 8.30000000e+01 2.56000000e+02 8.70000000e+01
 3.05000000e+02 6.30000000e+02 7.40000000e+01 5.70000000e+02
 9.80000000e+01 5.48000000e+02 1.55000000e+02 6.10000000e+01
 6.40000000e+01 4.80000000e+02 1.35000000e+02 1.03583000e+05
 7.50000000e+02 5.10000000e+02 9.90000000e+01 3.08000000e+02
 7.80000000e+02 6.70000000e+01 2.30000000e+02 1.73000000e+02
 6.90000000e+01 1.95000000e+02 4.40000000e+01 7.70000000e+02
 3.90000000e+02 1.22000000e+02 8.80000000e+01 4.25000000e+02
 7.70000000e+01 1.05000000e+02 4.15000000e+02 4.92000000e+02
 6.22000000e+02 5.60000000e+02 1.47000000e+02 2.07000000e+02
 2.48000000e+02 1.37000000e+02 2.45000000e+02 1.08000000e+02
 1.86000000e+02 9.83552000e+05 1.69000000e+02 1.06000000e+02
 4.00000000e+02 1.04000000e+02 1.09500000e+03 2.58000000e+02
 2.38000000e+02 2.65000000e+02 6.80000000e+01 8.70000000e+02
 1.95000000e+03 1.20000000e+03 2.26000000e+02 5.85000000e+02
 5.20000000e+01 1.14000000e+03 3.64000000e+02 1.48000000e+02
 3.22000000e+02 8.60000000e+01 4.60000000e+02 5.30000000e+01
 1.25000000e+02 7.30000000e+02 2.90000000e+02 2.94000000e+02
 5.90000000e+01 1.28000000e+02 1.53000000e+02 1.90000000e+02
 5.93000000e+02 1.63000000e+02 5.20000000e+02 4.55000000e+02
 4.48000000e+02 5.98000000e+02 1.52000000e+02 5.80000000e+01
 1.34000000e+02 5.47000000e+02 1.11961000e+05 5.00000000e+02
 1.02000000e+02 3.50000000e+02 1.09000000e+02 1.46000000e+03
 2.52000000e+02 7.95000000e+02 3.15000000e+02 1.26000000e+03
 3.10000000e+02 7.30000000e+01 7.63000000e+02 1.19500000e+03
 1.07000000e+02 6.04000000e+02 7.80000000e+01 2.14000000e+02
 3.25000000e+02 8.10000000e+02 4.35000000e+02 9.00000000e+02
 1.75000000e+02 2.60000000e+02 1.83000000e+02 1.34400000e+03
 2.02000000e+02 9.70000000e+01 2.25000000e+02 3.35000000e+02
 2.15000000e+02 1.57000000e+02            nan 2.53000000e+02
 3.84000000e+02 1.05271000e+05 8.20000000e+01 3.70000000e+02
 1.00000000e+03 1.27000000e+02 7.90000000e+01 5.17000000e+02
 7.20000000e+01 5.46000000e+02 1.21000000e+02 2.17000000e+02
 6.95000000e+02 4.26000000e+02 4.95000000e+02 6.50000000e+02
 1.01000000e+02 2.03000000e+02 4.62000000e+02 1.03000000e+02
 1.77000000e+02 6.60000000e+02 1.92000000e+02 7.86000000e+02
 1.16000000e+02 1.08030000e+06 8.10000000e+01 1.41000000e+03
 1.17000000e+02 1.11000000e+02 4.90000000e+02 1.45000000e+02
 1.62000000e+02 9.90000000e+02 2.41000000e+02 9.60000000e+01
 6.70000000e+02 2.16000000e+02 7.02000000e+02 9.73000000e+02
 3.92000000e+02 1.84000000e+02 2.89000000e+02 1.43000000e+02
 5.65000000e+02 3.95000000e+02 2.06122833e+08 1.44000000e+02
 2.63000000e+02 8.90000000e+01 3.40000000e+02 6.16000000e+02
 1.74000000e+02 5.26000000e+02 2.28000000e+02 4.10000000e+02
 1.76000000e+02 1.18000000e+02 1.98000000e+02 2.66000000e+02
 1.88419370e+07 8.50000000e+02 8.20000000e+02 3.75000000e+02
 9.18630000e+04 3.39000000e+02 2.85000000e+02 1.62000000e+03
 7.00000000e+02 1.29675000e+06 9.30000000e+01 3.01000000e+02
 2.74000000e+02 1.61000000e+02 1.14000000e+02 3.80000000e+02
 2.06000000e+02 2.72740000e+04 9.20000000e+01 3.34000000e+02
 1.11110000e+04 9.40000000e+01 2.34000000e+02 4.30000000e+02
 4.43000000e+02 1.25466700e+06 1.05000000e+03 1.79000000e+02
 2.23000000e+02 2.01000000e+02 1.97000000e+02 9.30000000e+02]
tender_enquiryPeriod_endDate ['2017-12-10T20:04:00Z' '2017-12-28T17:00:00Z' '2017-12-06T17:30:00Z' ...
 '2016-02-12T20:17:00Z' '2016-02-22T01:12:00Z' '2016-02-19T20:31:00Z']
tender_enquiryPeriod_startDate ['2017-12-07T20:04:00Z' '2017-12-20T09:00:00Z' '2017-12-05T17:15:00Z' ...
 '2016-02-24T16:05:00Z' '2016-02-26T14:15:00Z' '2016-02-15T16:27:00Z']
tender_enquiryPeriod_durationInDays [  3.   8.   1.   4.   2.  11.  42.   7.   5.  14.   6.  23.  10.  12.
   9.  17.  18.  13.  15.  19.  16.  24.  21.  nan  35.  28.  27.  22.
  20.  40.  34.  25.  31.  52.  48.  51.  29.  38.  78.  41.  32.  69.
  33.  46.  57.  39.  86.  44.  30.  26.  60.  36.  47. 148. 133.  43.
  58.  73. 164.  68.  79.  49.  53.  45.  50.  65.  66.  72.  64.  83.
 136.  99. 138.  63.  90.  77. 189.  92. 146. 101.  54.  37.]
tender_procuringEntity_name ['Ilustre Municipalidad de Quintero | UNIDAD NORMAL'
 'ILUSTRE MUNICIPALIDAD DE LA GRANJA | Adquisicion Municipal'
 'Municipalidad de Los Angeles | MUNICIPALIDAD DE LOS ANGELES - EDUCACION'
 ... 'Carabineros de Chile | Prefectura del Maipo'
 'ILUSTRE MUNICIPALIDAD  DE SAGRADA FAMILIA | DIRECCION DE SALUD COMUNAL'
 'Ilustre Municipalidad de El Quisco | Departamento de Adquisiciones']
tender_value_amount [      nan  1452000.  6000000. ... 40448000.  6915832. 12606000.]
tender_value_currency [nan 'CLP' 'CLF' 'USD' 'EUR']
date_award ['2017-12-23T13:23:24Z' '2018-02-02T11:16:54Z' '2017-12-21T18:17:23Z' ...
 '2016-03-21T15:44:13Z' '2016-05-30T19:57:32Z' '2016-02-19T16:06:59Z']
value_amount [ 690000.  870000. 6000000. ... 1902475.  135070. 1103810.]
value_currency ['CLP' 'CLF' 'USD' nan 'EUR']
quantity [1.000000e+00 4.000000e+00 8.000000e+00 ... 1.297500e+00 7.066000e+04
 1.000011e+00]
unit_name ['Unidad' 'Kit' 'Lámina' 'Caja' 'Frasco' 'Global' 'kilogramo' 'Comprimido'
 'Mililitro' 'Ampolla' 'Frasco Ampolla' 'Metro Lineal' 'Litro' 'Año'
 'Unidad no definida' 'Mes' 'Metro Cúbico' 'Saco' 'Botella' 'Bolsa' 'Tira'
 'Cápsula' 'Bidón' 'Pack' 'Hora/Hombre' 'Hora' 'Tineta' 'Par' 'Rollo'
 'Tambor' 'Supositorio' 'Tubo' 'Sobre' 'Galón' 'Día' 'Paquete' 'Juego'
 'Cilindro' 'Lata' 'Pieza' 'Metro Cuadrado' 'Plancha' 'Pomo' 'Gramo'
 'Sachet' 'Tarro' 'Barra' 'Balón' 'Resma' 'Pliego' 'Placa' 'Balde'
 'Centímetros Cúbicos' 'Docena' 'Ovulo' 'Pote' 'Carrete'
 'Unidad Internacional' 'Pan' 'Rack' 'Matraz' 'Talonario' 'Block'
 'Bandeja' 'Centímetro' 'Dosis' 'Milímetro' 'Cajetilla' 'Cartucho'
 'Tonelada' 'Cuñete' 'Atado' 'Hoja' 'Gragea' 'Disco' 'Mes/Hombre' 'Ovillo'
 'Cientos' 'Milígramo' 'Carga' 'Cono' 'Semana' 'Miles' 'Pallets' 'Pie'
 'Comprimido Vaginal' 'Pulgada' 'Cajón' 'Día/Hombre' 'Cartón' 'Microgramo'
 'Onza' 'Cubeta' 'Bloque' 'Papelillo' 'Libra']
unit_value_amount [ 690000.  870000. 6000000. ...  342017. 2332783.  135070.]
unit_value_currency ['CLP' 'CLF' 'USD' nan 'EUR']
_link_main ['id-0.0' 'id-0.2' 'id-0.4' ... 'id-15.15078' 'id-15.15079' 'id-15.15080']
Award_supplier_name ['JOSÉ MIGUEL  | JOSÉ MIGUEL ' 'Todovidrios | Vidrieria las condes 7002'
 'Jorge Alejandro | Jorge Alejandro' ...
 'Victor Cristian | Victor Cristian'
 'Ever Barra Bascuñan | Tecnoservicios'
 'Construcciones Patricio Vega | Construcciones Patricio Vega']

In [11]:
df_iguales = pd.DataFrame(df_2018["tender_value_amount"] == df_2018["value_amount"])
df_iguales.head()

       0
0  False
1  False
2   True
3  False
4  False

In [12]:
df_iguales.rename(columns={0: "tender_value_amount == value_amount"}, inplace=True)

In [13]:
df_iguales["tender_value_amount == unit_value_amount"] = df_2018["tender_value_amount"] == df_2018["unit_value_amount"]
df_iguales["value_amount == unit_value_amount"] = df_2018["value_amount"] == df_2018["unit_value_amount"]

df_iguales["tender_value_currency == value_currency"] = df_2018["tender_value_currency"] == df_2018["value_currency"]
df_iguales["tender_value_currency == unit_value_currency"] = df_2018["tender_value_currency"] == df_2018["unit_value_currency"]
df_iguales["unit_value_currency == value_currency"] = df_2018["unit_value_currency"] == df_2018["value_currency"]
df_iguales["buyer == procuring_entity"] = df_2018["buyer_name"] == df_2018["tender_procuringEntity_name"]

In [14]:
for columna in df_iguales.columns:
    print(columna, df_iguales[columna].unique())

tender_value_amount == value_amount [False  True]
tender_value_amount == unit_value_amount [False  True]
value_amount == unit_value_amount [ True False]
tender_value_currency == value_currency [False  True]
tender_value_currency == unit_value_currency [False  True]
unit_value_currency == value_currency [ True False]
buyer == procuring_entity [ True]

Se observa que solo las columnas buyer y procuring_entity son iguales entre si, por lo que se eliminará procuring_entity.

In [15]:
duplicates = df_2018.duplicated(keep=False)
dups = df_2018[duplicates]
dups.head(10)

,date_main,buyer_name,tender_procurementMethodDetails,tender_procurementMethod,tender_hasEnquiries,tender_awardPeriod_endDate,tender_awardPeriod_startDate,tender_awardPeriod_durationInDays,tender_tenderPeriod_endDate,tender_tenderPeriod_startDate,...,tender_value_currency,date_award,value_amount,value_currency,quantity,unit_name,unit_value_amount,unit_value_currency,_link_main,Award_supplier_name
262,2018-12-31T11:25:48Z,Ilustre Municipalidad de Punitaqui | Ilustre M...,Licitación Pública Menor a 100 UTM (L1),open,False,2017-12-12T20:01:00Z,2017-12-11T20:01:00Z,1.0,2017-12-11T20:00:00Z,2017-12-05T18:29:33Z,...,NaN,2017-12-28T16:51:08Z,59900.0,CLP,200.0,Unidad,15.0,CLP,id-0.52,imprenta zaimor y cía. ltda | imprenta zaimor ...
263,2018-12-31T11:25:48Z,Ilustre Municipalidad de Punitaqui | Ilustre M...,Licitación Pública Menor a 100 UTM (L1),open,False,2017-12-12T20:01:00Z,2017-12-11T20:01:00Z,1.0,2017-12-11T20:00:00Z,2017-12-05T18:29:33Z,...,NaN,2017-12-28T16:51:08Z,59900.0,CLP,200.0,Unidad,15.0,CLP,id-0.52,imprenta zaimor y cía. ltda | imprenta zaimor ...
264,2018-12-31T11:25:48Z,Ilustre Municipalidad de Punitaqui | Ilustre M...,Licitación Pública Menor a 100 UTM (L1),open,False,2017-12-12T20:01:00Z,2017-12-11T20:01:00Z,1.0,2017-12-11T20:00:00Z,2017-12-05T18:29:33Z,...,NaN,2017-12-28T16:51:08Z,59900.0,CLP,200.0,Unidad,15.0,CLP,id-0.52,imprenta zaimor y cía. ltda | imprenta zaimor ...
357,2018-12-31T11:24:04Z,I. MUNICIPALIDAD DE TALCA | ADQUISICIONES MUNI...,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-12T15:48:00Z,2017-12-19T13:51:00Z,1.0,2017-12-18T15:50:00Z,2017-12-11T13:40:38Z,...,NaN,2017-12-29T16:36:41Z,1664234.0,CLP,100.0,kilogramo,1075.0,CLP,id-0.84,Dipagro SpA | Dipagro SpA
358,2018-12-31T11:24:04Z,I. MUNICIPALIDAD DE TALCA | ADQUISICIONES MUNI...,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-12T15:48:00Z,2017-12-19T13:51:00Z,1.0,2017-12-18T15:50:00Z,2017-12-11T13:40:38Z,...,NaN,2017-12-29T16:36:41Z,1664234.0,CLP,100.0,kilogramo,1075.0,CLP,id-0.84,Dipagro SpA | Dipagro SpA
359,2018-12-31T11:24:04Z,I. MUNICIPALIDAD DE TALCA | ADQUISICIONES MUNI...,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-12T15:48:00Z,2017-12-19T13:51:00Z,1.0,2017-12-18T15:50:00Z,2017-12-11T13:40:38Z,...,NaN,2017-12-29T16:36:41Z,1664234.0,CLP,100.0,kilogramo,1075.0,CLP,id-0.84,Dipagro SpA | Dipagro SpA
377,2018-12-31T11:29:41Z,Hospital Clínico San Borja Arriarán | Abasteci...,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-10T14:03:00Z,2017-12-28T14:03:00Z,1.0,2017-12-28T14:02:00Z,2017-12-22T12:30:22Z,...,NaN,2017-12-29T09:56:00Z,2116450.0,CLP,4.0,Unidad,25000.0,CLP,id-0.86,TERUMO CHILE LTDA | TERUMO CHILE LTDA
378,2018-12-31T11:29:41Z,Hospital Clínico San Borja Arriarán | Abasteci...,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-10T14:03:00Z,2017-12-28T14:03:00Z,1.0,2017-12-28T14:02:00Z,2017-12-22T12:30:22Z,...,NaN,2017-12-29T09:56:00Z,2116450.0,CLP,4.0,Unidad,25000.0,CLP,id-0.86,Cencomex S.A. | Cencomex S.A.
379,2018-12-31T11:29:41Z,Hospital Clínico San Borja Arriarán | Abasteci...,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-10T14:03:00Z,2017-12-28T14:03:00Z,1.0,2017-12-28T14:02:00Z,2017-12-22T12:30:22Z,...,NaN,2017-12-29T09:56:00Z,2116450.0,CLP,4.0,Unidad,25000.0,CLP,id-0.86,CHILEMEDICAL INTERVASCULAR SPA | CHILEMEDICAL ...
380,2018-12-31T11:29:41Z,Hospital Clínico San Borja Arriarán | Abasteci...,Licitación Pública Menor a 100 UTM (L1),open,False,2018-01-10T14:03:00Z,2017-12-28T14:03:00Z,1.0,2017-12-28T14:02:00Z,2017-12-22T12:30:22Z,...,NaN,2017-12-29T09:56:00Z,2116450.0,CLP,4.0,Unidad,25000.0,CLP,id-0.86,TERUMO CHILE LTDA | TERUMO CHILE LTDA

Se tiene en consideración que dentro de un mismo proceso de licitación pueden existir diferentes entidades que ofrecen cubrir las necesidades planteadas al publicar la licitación, por lo que se mantendran los duplicados.

Se cambiarán algunas columnas a category.

In [16]:
for columna in df_2018.columns:
    print("\n")
    print(columna)
    print("\n")
    print(df_2018[columna].unique())
    print("\n")
    print("########################################################################################")

date_main


['2018-12-31T11:27:18Z' '2018-12-31T11:29:05Z' '2018-12-31T11:20:54Z' ...
 '2018-12-31T10:27:41Z' '2018-12-31T12:56:33Z' '2018-12-31T11:54:35Z']


########################################################################################


buyer_name


['Ilustre Municipalidad de Quintero | UNIDAD NORMAL'
 'ILUSTRE MUNICIPALIDAD DE LA GRANJA | Adquisicion Municipal'
 'Municipalidad de Los Angeles | MUNICIPALIDAD DE LOS ANGELES - EDUCACION'
 ... 'Carabineros de Chile | Prefectura del Maipo'
 'ILUSTRE MUNICIPALIDAD  DE SAGRADA FAMILIA | DIRECCION DE SALUD COMUNAL'
 'Ilustre Municipalidad de El Quisco | Departamento de Adquisiciones']


########################################################################################


tender_procurementMethodDetails


['Licitación Pública Menor a 100 UTM (L1)'
 'Licitación Pública Entre 100 y 1000 UTM (LE)'
 'Licitación Pública Mayor a 5000 (LR)'
 'Licitación Pública entre a 2000 y 5000 UTM (LQ)'
 'Licitación Pública Mayor 1000 UTM (LP)'
 'Licitación Privada Mayor a 5000 (I2)'
 'Licitación Privada entre a 2000 y 5000 UTM (H2)'
 'Licitación Privada entre 100 y 1000 UTM.'
 'Licitación Privada Menor a 100 UTM.'
 'Licitación Privada Mayor a 1000 UTM'
 'Licitación Pública Servicios personales especializados (LS)']


########################################################################################


tender_procurementMethod


['open' 'selective']


########################################################################################


tender_hasEnquiries


[False  True]


########################################################################################


tender_awardPeriod_endDate


['2017-12-15T18:05:00Z' '2018-02-02T19:38:00Z' '2017-12-14T16:55:00Z' ...
 '2016-03-03T20:37:00Z' '2016-02-23T18:32:00Z' '2016-02-29T17:49:00Z']


########################################################################################


tender_awardPeriod_startDate


['2017-12-13T09:03:00Z' '2018-01-02T17:00:00Z' '2017-12-11T16:30:00Z' ...
 '2016-02-15T18:18:00Z' '2016-02-25T19:13:00Z' '2016-02-22T18:32:00Z']


########################################################################################


tender_awardPeriod_durationInDays


[ 1. nan  3.  2.  4.]


########################################################################################


tender_tenderPeriod_endDate


['2017-12-13T09:02:00Z' 'a' '2017-12-11T16:00:00Z' ...
 '2016-02-15T18:17:00Z' '2016-02-25T19:12:00Z' '2016-02-22T18:31:00Z']


########################################################################################


tender_tenderPeriod_startDate


['2017-12-07T16:17:35Z' '2017-12-19T13:02:43Z' '2017-12-05T17:11:36Z' ...
 '2016-02-26T13:48:32Z' '2016-02-15T12:53:23Z' '2016-02-12T16:30:15Z']


########################################################################################


tender_tenderPeriod_durationInDays


[6.00000000e+00 1.40000000e+01 7.00000000e+00 1.00000000e+01
 1.10000000e+01 1.50000000e+01 3.20000000e+01 2.00000000e+01
 7.20000000e+02 1.50000000e+02 3.00000000e+01 1.30000000e+01
 9.00000000e+00 8.00000000e+00 2.10000000e+01 9.00000000e+01
 2.30000000e+01 1.60000000e+01 2.40000000e+01 3.70000000e+01
 1.20000000e+01 3.65000000e+02 3.10000000e+01 4.50000000e+02
 2.20000000e+01 5.00000000e+01 1.20000000e+02 6.00000000e+01
 3.30000000e+01 3.00000000e+00 1.80000000e+01 4.50000000e+01
 2.90000000e+01 2.50000000e+01 4.00000000e+01 2.80000000e+01
 5.00000000e+00 8.50000000e+01 1.10000000e+02 1.85000000e+02
 1.12000000e+02 6.30000000e+01 1.90000000e+01 1.80000000e+02
 1.70000000e+01 3.60000000e+01 3.50000000e+01 3.40000000e+01
 1.15000000e+02 5.60000000e+01 2.40000000e+02 1.16758400e+06
 1.08000000e+03 2.86000000e+02 3.60000000e+02 5.70000000e+01
 2.20000000e+02 6.00000000e+02 1.00000000e+02 5.04000000e+02
 1.26000000e+02 2.70000000e+01 3.90000000e+01 2.60000000e+01
 4.90000000e+01 3.00000000e+02 3.80000000e+01 2.24000000e+02
 4.30000000e+01 7.10000000e+01 3.36000000e+02 3.30000000e+02
 8.00000000e+01 4.60000000e+01 9.10000000e+01 4.40000000e+02
 7.60000000e+01 4.80000000e+01 1.70000000e+02 3.20000000e+02
 4.78000000e+02 4.20000000e+01 8.40000000e+01 2.00000000e+00
 6.50000000e+01 8.00000000e+02 7.50000000e+01 2.70000000e+02
 1.68000000e+02 1.40000000e+02 2.10000000e+02 1.44000000e+03
 1.56000000e+02 1.96000000e+02 2.00000000e+02 5.40000000e+01
 4.00000000e+00 5.50000000e+01 2.80000000e+02 6.20000000e+01
 2.82000000e+02 1.32000000e+02 7.35000000e+02 9.50000000e+01
 1.82000000e+02 1.19000000e+02 1.00000000e+00 4.10000000e+01
 7.00000000e+01 1.65000000e+02 5.10000000e+01 2.08658800e+06
 1.60000000e+02 4.20000000e+02 5.90000000e+02 5.80000000e+02
 1.54000000e+02 6.90000000e+02 5.40000000e+02 1.47000000e+03
 1.30000000e+02 2.50000000e+02 6.60000000e+01 4.70000000e+01
 5.50000000e+02 8.30000000e+01 2.56000000e+02 8.70000000e+01
 3.05000000e+02 6.30000000e+02 7.40000000e+01 5.70000000e+02
 9.80000000e+01 5.48000000e+02 1.55000000e+02 6.10000000e+01
 6.40000000e+01 4.80000000e+02 1.35000000e+02 1.03583000e+05
 7.50000000e+02 5.10000000e+02 9.90000000e+01 3.08000000e+02
 7.80000000e+02 6.70000000e+01 2.30000000e+02 1.73000000e+02
 6.90000000e+01 1.95000000e+02 4.40000000e+01 7.70000000e+02
 3.90000000e+02 1.22000000e+02 8.80000000e+01 4.25000000e+02
 7.70000000e+01 1.05000000e+02 4.15000000e+02 4.92000000e+02
 6.22000000e+02 5.60000000e+02 1.47000000e+02 2.07000000e+02
 2.48000000e+02 1.37000000e+02 2.45000000e+02 1.08000000e+02
 1.86000000e+02 9.83552000e+05 1.69000000e+02 1.06000000e+02
 4.00000000e+02 1.04000000e+02 1.09500000e+03 2.58000000e+02
 2.38000000e+02 2.65000000e+02 6.80000000e+01 8.70000000e+02
 1.95000000e+03 1.20000000e+03 2.26000000e+02 5.85000000e+02
 5.20000000e+01 1.14000000e+03 3.64000000e+02 1.48000000e+02
 3.22000000e+02 8.60000000e+01 4.60000000e+02 5.30000000e+01
 1.25000000e+02 7.30000000e+02 2.90000000e+02 2.94000000e+02
 5.90000000e+01 1.28000000e+02 1.53000000e+02 1.90000000e+02
 5.93000000e+02 1.63000000e+02 5.20000000e+02 4.55000000e+02
 4.48000000e+02 5.98000000e+02 1.52000000e+02 5.80000000e+01
 1.34000000e+02 5.47000000e+02 1.11961000e+05 5.00000000e+02
 1.02000000e+02 3.50000000e+02 1.09000000e+02 1.46000000e+03
 2.52000000e+02 7.95000000e+02 3.15000000e+02 1.26000000e+03
 3.10000000e+02 7.30000000e+01 7.63000000e+02 1.19500000e+03
 1.07000000e+02 6.04000000e+02 7.80000000e+01 2.14000000e+02
 3.25000000e+02 8.10000000e+02 4.35000000e+02 9.00000000e+02
 1.75000000e+02 2.60000000e+02 1.83000000e+02 1.34400000e+03
 2.02000000e+02 9.70000000e+01 2.25000000e+02 3.35000000e+02
 2.15000000e+02 1.57000000e+02            nan 2.53000000e+02
 3.84000000e+02 1.05271000e+05 8.20000000e+01 3.70000000e+02
 1.00000000e+03 1.27000000e+02 7.90000000e+01 5.17000000e+02
 7.20000000e+01 5.46000000e+02 1.21000000e+02 2.17000000e+02
 6.95000000e+02 4.26000000e+02 4.95000000e+02 6.50000000e+02
 1.01000000e+02 2.03000000e+02 4.62000000e+02 1.03000000e+02
 1.77000000e+02 6.60000000e+02 1.92000000e+02 7.86000000e+02
 1.16000000e+02 1.08030000e+06 8.10000000e+01 1.41000000e+03
 1.17000000e+02 1.11000000e+02 4.90000000e+02 1.45000000e+02
 1.62000000e+02 9.90000000e+02 2.41000000e+02 9.60000000e+01
 6.70000000e+02 2.16000000e+02 7.02000000e+02 9.73000000e+02
 3.92000000e+02 1.84000000e+02 2.89000000e+02 1.43000000e+02
 5.65000000e+02 3.95000000e+02 2.06122833e+08 1.44000000e+02
 2.63000000e+02 8.90000000e+01 3.40000000e+02 6.16000000e+02
 1.74000000e+02 5.26000000e+02 2.28000000e+02 4.10000000e+02
 1.76000000e+02 1.18000000e+02 1.98000000e+02 2.66000000e+02
 1.88419370e+07 8.50000000e+02 8.20000000e+02 3.75000000e+02
 9.18630000e+04 3.39000000e+02 2.85000000e+02 1.62000000e+03
 7.00000000e+02 1.29675000e+06 9.30000000e+01 3.01000000e+02
 2.74000000e+02 1.61000000e+02 1.14000000e+02 3.80000000e+02
 2.06000000e+02 2.72740000e+04 9.20000000e+01 3.34000000e+02
 1.11110000e+04 9.40000000e+01 2.34000000e+02 4.30000000e+02
 4.43000000e+02 1.25466700e+06 1.05000000e+03 1.79000000e+02
 2.23000000e+02 2.01000000e+02 1.97000000e+02 9.30000000e+02]


########################################################################################


tender_enquiryPeriod_endDate


['2017-12-10T20:04:00Z' '2017-12-28T17:00:00Z' '2017-12-06T17:30:00Z' ...
 '2016-02-12T20:17:00Z' '2016-02-22T01:12:00Z' '2016-02-19T20:31:00Z']


########################################################################################


tender_enquiryPeriod_startDate


['2017-12-07T20:04:00Z' '2017-12-20T09:00:00Z' '2017-12-05T17:15:00Z' ...
 '2016-02-24T16:05:00Z' '2016-02-26T14:15:00Z' '2016-02-15T16:27:00Z']


########################################################################################


tender_enquiryPeriod_durationInDays


[  3.   8.   1.   4.   2.  11.  42.   7.   5.  14.   6.  23.  10.  12.
   9.  17.  18.  13.  15.  19.  16.  24.  21.  nan  35.  28.  27.  22.
  20.  40.  34.  25.  31.  52.  48.  51.  29.  38.  78.  41.  32.  69.
  33.  46.  57.  39.  86.  44.  30.  26.  60.  36.  47. 148. 133.  43.
  58.  73. 164.  68.  79.  49.  53.  45.  50.  65.  66.  72.  64.  83.
 136.  99. 138.  63.  90.  77. 189.  92. 146. 101.  54.  37.]


########################################################################################


tender_procuringEntity_name


['Ilustre Municipalidad de Quintero | UNIDAD NORMAL'
 'ILUSTRE MUNICIPALIDAD DE LA GRANJA | Adquisicion Municipal'
 'Municipalidad de Los Angeles | MUNICIPALIDAD DE LOS ANGELES - EDUCACION'
 ... 'Carabineros de Chile | Prefectura del Maipo'
 'ILUSTRE MUNICIPALIDAD  DE SAGRADA FAMILIA | DIRECCION DE SALUD COMUNAL'
 'Ilustre Municipalidad de El Quisco | Departamento de Adquisiciones']


########################################################################################


tender_value_amount


[      nan  1452000.  6000000. ... 40448000.  6915832. 12606000.]


########################################################################################


tender_value_currency


[nan 'CLP' 'CLF' 'USD' 'EUR']


########################################################################################


date_award


['2017-12-23T13:23:24Z' '2018-02-02T11:16:54Z' '2017-12-21T18:17:23Z' ...
 '2016-03-21T15:44:13Z' '2016-05-30T19:57:32Z' '2016-02-19T16:06:59Z']


########################################################################################


value_amount


[ 690000.  870000. 6000000. ... 1902475.  135070. 1103810.]


########################################################################################


value_currency


['CLP' 'CLF' 'USD' nan 'EUR']


########################################################################################


quantity


[1.000000e+00 4.000000e+00 8.000000e+00 ... 1.297500e+00 7.066000e+04
 1.000011e+00]


########################################################################################


unit_name


['Unidad' 'Kit' 'Lámina' 'Caja' 'Frasco' 'Global' 'kilogramo' 'Comprimido'
 'Mililitro' 'Ampolla' 'Frasco Ampolla' 'Metro Lineal' 'Litro' 'Año'
 'Unidad no definida' 'Mes' 'Metro Cúbico' 'Saco' 'Botella' 'Bolsa' 'Tira'
 'Cápsula' 'Bidón' 'Pack' 'Hora/Hombre' 'Hora' 'Tineta' 'Par' 'Rollo'
 'Tambor' 'Supositorio' 'Tubo' 'Sobre' 'Galón' 'Día' 'Paquete' 'Juego'
 'Cilindro' 'Lata' 'Pieza' 'Metro Cuadrado' 'Plancha' 'Pomo' 'Gramo'
 'Sachet' 'Tarro' 'Barra' 'Balón' 'Resma' 'Pliego' 'Placa' 'Balde'
 'Centímetros Cúbicos' 'Docena' 'Ovulo' 'Pote' 'Carrete'
 'Unidad Internacional' 'Pan' 'Rack' 'Matraz' 'Talonario' 'Block'
 'Bandeja' 'Centímetro' 'Dosis' 'Milímetro' 'Cajetilla' 'Cartucho'
 'Tonelada' 'Cuñete' 'Atado' 'Hoja' 'Gragea' 'Disco' 'Mes/Hombre' 'Ovillo'
 'Cientos' 'Milígramo' 'Carga' 'Cono' 'Semana' 'Miles' 'Pallets' 'Pie'
 'Comprimido Vaginal' 'Pulgada' 'Cajón' 'Día/Hombre' 'Cartón' 'Microgramo'
 'Onza' 'Cubeta' 'Bloque' 'Papelillo' 'Libra']


########################################################################################


unit_value_amount


[ 690000.  870000. 6000000. ...  342017. 2332783.  135070.]


########################################################################################


unit_value_currency


['CLP' 'CLF' 'USD' nan 'EUR']


########################################################################################


_link_main


['id-0.0' 'id-0.2' 'id-0.4' ... 'id-15.15078' 'id-15.15079' 'id-15.15080']


########################################################################################


Award_supplier_name


['JOSÉ MIGUEL  | JOSÉ MIGUEL ' 'Todovidrios | Vidrieria las condes 7002'
 'Jorge Alejandro | Jorge Alejandro' ...
 'Victor Cristian | Victor Cristian'
 'Ever Barra Bascuñan | Tecnoservicios'
 'Construcciones Patricio Vega | Construcciones Patricio Vega']


########################################################################################

Se utilizan la pagina <<https://api.mercadopublico.cl/modules/Licitacion.aspx>> para crear el diccionario.

In [17]:

tipos_licitaciones ={'Licitación Pública Menor a 100 UTM (L1)': "L1",
       'Licitación Pública Entre 100 y 1000 UTM (LE)': "LE",
       'Licitación Pública Mayor 1000 UTM (LP)': "LP",
       'Licitación Pública entre a 2000 y 5000 UTM (LQ)':"LQ",
       'Licitación Pública Mayor a 5000 (LR)' :"LR",
       'Licitación Privada entre a 2000 y 5000 UTM (H2)':"H2",
       'Licitación Pública Servicios personales especializados (LS)':"LS",
       "Licitación Privada por Licitación Pública anterior sin oferentes (A1)" : "A1",
       "Licitación Privada por Remanente de Contrato anterior (B1)": "B1",
       "Licitación Privada por Convenios con Personas Jurídicas Extranjeras fuera del Territorio Nacional (E1)": "E1",
       "Licitación Privada por Servicios de Naturaleza Confidencial (F1)": "F1",
       "Licitación Privada por otras causales, excluidas de la ley de Compras (J1)": "J1",
       "Licitación Privada entre 100 y 1000 UTM" :"CO", "Licitación Privada Mayor a 1000 UTM": "B2",
       "Trato Directo por Producto de Licitación Privada anterior sin oferentes o desierta": "A2",
       "Trato Directo por Proveedor Único (D1)": "D1","Licitación Privada Menor a 100 UTM" : "E2", "Trato Directo (Cotización) (C2)" : "C2",
       "Compra Directa (Orden de compra) (C1)" : "C1", "Trato Directo (Cotización) (F2)" :"F2", "Compra Directa (Orden de compra) (F3)" : "F3",
       "Directo (Cotización) (G2)" : "G2", "Compra Directa (Orden de compra) (G1)" : "G1",
       "Orden de Compra menor a 3 UTM (R1)" : "R1", "Orden de Compra sin Resolución (CA)" : "CA", 
       "Orden de Compra proveniente de adquisición sin emisión automática de OC (SE)" : "SE"}


df_2018["tender_procurementMethodDetails"] = df_2018["tender_procurementMethodDetails"].map(tipos_licitaciones)
df_2018["tender_procurementMethodDetails"] = df_2018["tender_procurementMethodDetails"].astype("category")

In [18]:
df_2018["unit_value_currency"].isna()

0          False
1          False
2          False
3          False
4          False
           ...
2682180    False
2682181    False
2682182    False
2682183    False
2682184    False
Name: unit_value_currency, Length: 2682185, dtype: bool

Se cambiarán las columnas que contienen información de fechas a objetos de tipo DateTime.

In [19]:
df_2018.columns

Index(['date_main', 'buyer_name', 'tender_procurementMethodDetails',
       'tender_procurementMethod', 'tender_hasEnquiries',
       'tender_awardPeriod_endDate', 'tender_awardPeriod_startDate',
       'tender_awardPeriod_durationInDays', 'tender_tenderPeriod_endDate',
       'tender_tenderPeriod_startDate', 'tender_tenderPeriod_durationInDays',
       'tender_enquiryPeriod_endDate', 'tender_enquiryPeriod_startDate',
       'tender_enquiryPeriod_durationInDays', 'tender_procuringEntity_name',
       'tender_value_amount', 'tender_value_currency', 'date_award',
       'value_amount', 'value_currency', 'quantity', 'unit_name',
       'unit_value_amount', 'unit_value_currency', '_link_main',
       'Award_supplier_name'],
      dtype='object')

In [20]:
df_respaldo_ = df_2018

In [21]:
df_2018["date_main"] = pd.to_datetime(df_2018['date_main'], format='%Y-%m-%dT%H:%M:%SZ')

In [22]:
df_2018["date_award"] = pd.to_datetime(df_2018['date_award'], format='%Y-%m-%dT%H:%M:%SZ')

In [23]:
df_2018["tender_enquiryPeriod_startDate"] = pd.to_datetime(df_2018['tender_enquiryPeriod_startDate'], format='%Y-%m-%dT%H:%M:%SZ')

In [24]:
df_2018["tender_enquiryPeriod_endDate"] = pd.to_datetime(df_2018['tender_enquiryPeriod_endDate'], format='%Y-%m-%dT%H:%M:%SZ')

In [25]:
df_2018['tender_tenderPeriod_startDate'] = pd.to_datetime(df_2018['tender_tenderPeriod_startDate'], format='%Y-%m-%dT%H:%M:%SZ')

Al parecer hay un error en la fila 1, eliminemosla.

In [26]:
df_2018 = df_2018.drop(df_2018.index[1])

In [27]:
df_2018["tender_tenderPeriod_endDate"] = pd.to_datetime(df_2018['tender_tenderPeriod_endDate'], format='%Y-%m-%dT%H:%M:%SZ')

In [28]:
df_2018['tender_awardPeriod_startDate'] = pd.to_datetime(df_2018['tender_awardPeriod_startDate'], format='%Y-%m-%dT%H:%M:%SZ')

Hay un error en el formato de una fila con contenido <5017-05-05T17:00:00Z>, se eliminará.

In [29]:
df_2018[df_2018["tender_awardPeriod_endDate"] == "5017-05-05T17:00:00Z"].index

Index([2075928], dtype='int64')

In [30]:
df_2018.drop(df_2018[df_2018["tender_awardPeriod_endDate"] == "5017-05-05T17:00:00Z"].index, axis=0, inplace=True)

In [31]:
df_2018['tender_awardPeriod_endDate'] = pd.to_datetime(df_2018['tender_awardPeriod_endDate'], format='%Y-%m-%dT%H:%M:%SZ')

In [32]:
df_2018['tender_enquiryPeriod_durationInDays'] = df_2018['tender_enquiryPeriod_endDate'] - df_2018['tender_enquiryPeriod_startDate']

In [33]:
df_2018['tender_awardPeriod_durationInDays'] = df_2018['tender_awardPeriod_endDate'] - df_2018['tender_awardPeriod_startDate']

In [34]:
df_2018['tender_tenderPeriod_durationInDays'] = df_2018['tender_tenderPeriod_endDate'] - df_2018['tender_tenderPeriod_startDate']

## Filtro según fecha

Aqui realizaremos un filtro de las licitaciones en base a cuando se iniciaron y cuando terminaron respecto a lo relacionado al 2018. En este caso seleccionaremos las licitaciones cuyo periodo de envio de aplicaciones para determinar la adjudicación comenzó despúes que el 01/06/2017 y la finalización de este mismo proceso antes del 01/01/2019.

In [35]:
fecha_filtro = '2017-06-01'
df_filtrado = df_2018.loc[df_2018['tender_tenderPeriod_startDate'] >= fecha_filtro]

In [36]:
fecha_filtro = '2019-01-01'
df_filtrado = df_filtrado.loc[df_filtrado['tender_tenderPeriod_endDate'] < fecha_filtro]

In [37]:
df_filtrado.head()

,date_main,buyer_name,tender_procurementMethodDetails,tender_procurementMethod,tender_hasEnquiries,tender_awardPeriod_endDate,tender_awardPeriod_startDate,tender_awardPeriod_durationInDays,tender_tenderPeriod_endDate,tender_tenderPeriod_startDate,...,tender_value_currency,date_award,value_amount,value_currency,quantity,unit_name,unit_value_amount,unit_value_currency,_link_main,Award_supplier_name
0,2018-12-31 11:27:18,Ilustre Municipalidad de Quintero | UNIDAD NORMAL,L1,open,False,2017-12-15 18:05:00,2017-12-13 09:03:00,2 days 09:02:00,2017-12-13 09:02:00,2017-12-07 16:17:35,...,NaN,2017-12-23 13:23:24,690000.0,CLP,1.0,Unidad,690000.0,CLP,id-0.0,JOSÉ MIGUEL | JOSÉ MIGUEL
2,2018-12-31 11:20:54,Municipalidad de Los Angeles | MUNICIPALIDAD D...,LE,open,True,2017-12-14 16:55:00,2017-12-11 16:30:00,3 days 00:25:00,2017-12-11 16:00:00,2017-12-05 17:11:36,...,CLP,2017-12-21 18:17:23,6000000.0,CLP,1.0,Unidad,6000000.0,CLP,id-0.4,Jorge Alejandro | Jorge Alejandro
3,2018-12-31 11:29:33,Ilustre Municipalidad de Cochamo | Ilustre Mun...,L1,open,True,2017-12-29 16:00:00,2017-12-28 12:02:00,1 days 03:58:00,2017-12-28 12:00:00,2017-12-21 16:27:16,...,NaN,2018-01-16 10:56:54,347043.0,CLP,4.0,Unidad,4995.0,CLP,id-0.5,INSTITUTO ORTOPEDICO Y DE REHABILITACION IOR L...
4,2018-12-31 11:29:33,Ilustre Municipalidad de Cochamo | Ilustre Mun...,L1,open,True,2017-12-29 16:00:00,2017-12-28 12:02:00,1 days 03:58:00,2017-12-28 12:00:00,2017-12-21 16:27:16,...,NaN,2018-01-16 10:56:54,347043.0,CLP,4.0,Unidad,4995.0,CLP,id-0.5,RICARDO RODRIGUEZ Y CIA. LTDA. | RICARDO RODRI...
5,2018-12-31 11:29:33,Ilustre Municipalidad de Cochamo | Ilustre Mun...,L1,open,True,2017-12-29 16:00:00,2017-12-28 12:02:00,1 days 03:58:00,2017-12-28 12:00:00,2017-12-21 16:27:16,...,NaN,2018-01-16 10:56:54,347043.0,CLP,4.0,Unidad,4995.0,CLP,id-0.5,María | María

In [38]:
df_filtrado.reset_index(drop=True, inplace=True)

## Limpieza de datos nulos

Se revisan filas con valores nulos.

In [39]:
sin_nan = df_filtrado[['tender_value_amount','tender_value_currency', 'value_amount', 'value_currency', 'quantity','unit_name', 'unit_value_amount', 'unit_value_currency']].dropna()
sin_nan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100501 entries, 1 to 369781
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   tender_value_amount    100501 non-null  float64
 1   tender_value_currency  100501 non-null  object
 2   value_amount           100501 non-null  float64
 3   value_currency         100501 non-null  object
 4   quantity               100501 non-null  float64
 5   unit_name              100501 non-null  object
 6   unit_value_amount      100501 non-null  float64
 7   unit_value_currency    100501 non-null  object
dtypes: float64(4), object(4)
memory usage: 6.9+ MB

In [40]:
sin_nan.head()

,tender_value_amount,tender_value_currency,value_amount,value_currency,quantity,unit_name,unit_value_amount,unit_value_currency
1,6000000.0,CLP,6000000.0,CLP,1.0,Unidad,6000000.0,CLP
23,16558612.0,CLP,12219604.0,CLP,10.0,Kit,31255.0,CLP
24,16558612.0,CLP,12219604.0,CLP,10.0,Kit,31255.0,CLP
25,16558612.0,CLP,12219604.0,CLP,10.0,Kit,31255.0,CLP
26,16558612.0,CLP,12219604.0,CLP,10.0,Kit,31255.0,CLP

In [41]:
Datos_with_NaN = df_filtrado.loc[:, df_filtrado.isna().any()]
Datos_with_NaN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369948 entries, 0 to 369947
Data columns (total 6 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   tender_procurementMethodDetails  369449 non-null  category
 1   tender_value_amount              100502 non-null  float64
 2   tender_value_currency            100501 non-null  object
 3   date_award                       369405 non-null  datetime64[ns]
 4   value_currency                   369888 non-null  object
 5   unit_value_currency              369888 non-null  object
dtypes: category(1), datetime64[ns](1), float64(1), object(3)
memory usage: 14.5+ MB

In [42]:
Datos_with_NaN.head()

,tender_procurementMethodDetails,tender_value_amount,tender_value_currency,date_award,value_currency,unit_value_currency
0,L1,NaN,NaN,2017-12-23 13:23:24,CLP,CLP
1,LE,6000000.0,CLP,2017-12-21 18:17:23,CLP,CLP
2,L1,NaN,NaN,2018-01-16 10:56:54,CLP,CLP
3,L1,NaN,NaN,2018-01-16 10:56:54,CLP,CLP
4,L1,NaN,NaN,2018-01-16 10:56:54,CLP,CLP

In [43]:
filas_con_nan = Datos_with_NaN[Datos_with_NaN.isna().any(axis=1)]

In [44]:
print(f"La cantidad de datos NaN es de: {len(filas_con_nan)} en todo el dataframe de {len(df_filtrado)}")

La cantidad de datos NaN es de: 269937 en todo el dataframe de 369948

En base a esta información se vera según casos los valores NaN.

In [45]:
df_filtrado[["tender_tenderPeriod_durationInDays", "tender_awardPeriod_durationInDays", "tender_enquiryPeriod_durationInDays"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369948 entries, 0 to 369947
Data columns (total 3 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   tender_tenderPeriod_durationInDays   369948 non-null  timedelta64[ns]
 1   tender_awardPeriod_durationInDays    369948 non-null  timedelta64[ns]
 2   tender_enquiryPeriod_durationInDays  369948 non-null  timedelta64[ns]
dtypes: timedelta64[ns](3)
memory usage: 8.5 MB